/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* Button animation */
h1, h2, h3, h4, h5 {
  margin-top: 0; }

.page-header {
  margin-top: 30px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.top-inner {
  padding: 90px 0 30px 0; }

/* Image Sizes */
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

.clearfix {
  clear: both; }

/* Mixins */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  color: black;
  padding-top: 40px; }

a {
  color: #00aff0; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

img.device {
  width: 100%; }

img.device-small {
  width: 70%;
  margin-bottom: -40px; }

/* LAYOUTS */
.navbar-inverse .navbar-nav > li > a {
  font-family: Roboto;
  font-size: 11pt;
  color: white; }

.navbar-inverse .navbar-brand {
  color: white;
  font-family: Kimberley;
  letter-spacing: 1.1px; }

.navbar-inverse {
  background-color: #424242;
  border: none; }

.nav-tabs {
  border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #42A5F5; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border: none; }

/* background image*/
.parallax {
  background-image: url("/assets/img/bg/editan7-2.jpg");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.parallax2 {
  background-image: url("/assets/img/bg/editan6.jpg");
  min-height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

#grad {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #90CAF9, #1E88E5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1E88E5, #90CAF9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, #90CAF9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #90CAF9, #1E88E5);
  /* Standard syntax */
  height: 900px; }

#grad2 {
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #90CAF9, #1E88E5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1E88E5, #90CAF9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, #90CAF9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #90CAF9, #1E88E5);
  /* Standard syntax */ }

.kotak {
  position: absolute;
  left: 100px;
  top: 0px;
  z-index: -1;
  background-image: url("/assets/img/bg/edit1.jpg");
  width: 80%;
  height: 100vh; }

.bg {
  background-image: url("/assets/img/bg/1.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed; }

.bgabout {
  background-image: url("/assets/img/bg/editan3.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed; }

.gambarku {
  background-image: url("/assets/img/bg/editan2-1.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  float: right; }

.gambarku2 {
  background-image: url("/assets/img/bg/editan1-1.jpg"); }

.content {
  position: relative;
  z-index: 100; }

.konten {
  padding-top: 3%;
  padding-bottom: 2.5%;
  border: 1px solid #E0E0E0;
  margin-right: 3%;
  margin-left: 2%;
  margin-bottom: 1%;
  padding-right: 0%; }

.pinggir {
  border-right: 1px solid #EEEEEE; }

.content2 {
  position: relative;
  z-index: 100;
  margin-top: 200px;
  padding: 100px; }

a {
  font-family: Roboto; }

/* Ini Font */
.putih {
  color: white; }

.hitam {
  color: #212121; }

.biru {
  color: #2196F3; }

.abu {
  color: #9E9E9E; }

h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto; }

/*roboto*/
.thin {
  font-weight: 100; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 900; }

.logo {
  font-family: Kimberley; }

.super {
  font-size: 4.5vw; }

.superjumbo {
  font-size: 3.8vw; }

.jumbo {
  font-size: 3vw; }

.kecil {
  font-size: 1.2em; }

.kecil1 {
  font-size: 1.1em; }

.kecil2 {
  font-size: 1em; }

.kecil3 {
  font-size: 0.85em; }

.space1 {
  letter-spacing: 1.4px; }

.center {
  margin: auto;
  width: 48%;
  padding: 35px;
  padding-top: 10px;
  margin-top: 12%;
  box-shadow: 5px 5px 30px #212121; }

.bulat {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto; }

.fb {
  background-color: #475993; }

.gugel {
  background-color: #DC4E41; }

.twitter {
  background-color: #55ACEE; }

.aturpad {
  padding: 10px;
  margin-top: -1px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #ccc; }

.btntransparan {
  background-color: transparent;
  border: none; }

.input-group-addon {
  background-color: transparent; }

.garis {
  margin: auto;
  width: 14%;
  height: 5px;
  background-color: #212121; }

.find {
  width: 70%;
  margin: auto;
  margin-top: 5%; }

.bgputih {
  background-color: white; }

.bghitam {
  background-color: #212121; }

.btn-hitam {
  width: 35%;
  height: 38px;
  background-color: #212121;
  color: white;
  border: none; }

.btn-putih {
  width: 35%;
  height: 38px;
  background-color: transparent;
  border: 1px solid white;
  color: white; }

.btn-putihin {
  width: 35%;
  height: 38px;
  background-color: white;
  border: 1px solid #E0E0E0;
  color: #1E88E5;
  font-size: 10pt;
  font-family: Roboto; }

.btn-hitam2 {
  width: 35%;
  height: 35px;
  background-color: #212121;
  color: white;
  border: none;
  font-size: 10pt; }

.btn-biru {
  width: 100%;
  height: 35px;
  background-color: #1E88E5;
  color: white;
  border: none;
  font-size: 10pt; }

.btn-biru2 {
  width: 140px;
  height: 40px;
  background-color: white;
  color: #1E88E5;
  border: none;
  font-size: 10pt;
  border-radius: 20px; }

.selek {
  width: 100%;
  padding: 2.4%;
  border: 1px solid #E0E0E0; }

.selek2 {
  width: 100%;
  padding: 2%;
  border: 1px solid #E0E0E0;
  font-size: 10pt; }

.bayangan {
  box-shadow: 1px 1px 20px #616161; }

.footer {
  position: relative;
  margin-top: -150px;
  height: 350px;
  clear: both;
  background-color: #212121;
  overflow: hidden;
  padding-left: 7%;
  padding-top: 4%; }

.bg2 {
  width: 100%;
  height: 100px;
  background-color: #90CAF9; }

.bgbiru {
  background-color: #475993; }

.bgmerah {
  background-color: #DC4E41; }

.bgbirumuda {
  background-color: #55ACEE; }

.circle2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #64B5F6; }

.circle3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF5350; }

.bawah {
  height: 20px;
  width: 3px;
  background-color: #EF5350;
  margin: auto; }

.center2 {
  margin: auto;
  /*border: 3px solid green;*/
  background-color: white;
  box-shadow: 4px 4px 10px #212121;
  padding: 4px 25px 0px 25px;
  margin-top: 100px;
  border-radius: 2px; }

.circle {
  margin: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #424242; }

.line {
  width: 100%;
  height: 1px;
  background-color: #BDBDBD; }

.barisin {
  width: 100%;
  padding: 6%;
  margin: auto; }

.isi2 {
  font-size: 1.2em; }

/*
.carousel-indicators {
    position: absolute;
    top: 200px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
	background-color: #42A5F5;
}
*/
.setkotak {
  padding: 0%;
  background-color: #64B5F6;
  padding-top: 3%;
  padding-bottom: 2%; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.konten1 {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 22%;
  padding-bottom: 10%; }

.bayangan2 {
  box-shadow: 5px 5px 15px #BDBDBD; }

/*font index*/
.heading2 {
  font-size: 3.5em; }

.padatas3 {
  padding-top: 17%; }

.circleku {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #EF5350;
  padding: 4%;
  color: white; }

.circlehitam {
  background-color: #212121;
  color: white; }

.circlehijau {
  background-color: #66BB6A;
  color: white; }

.garisitam {
  width: 3px;
  height: 10px;
  background-color: #212121; }

.bawah {
  height: 20px;
  width: 3px;
  background-color: #EF5350;
  margin: auto; }

.bar {
  height: 4px;
  background: #EF5350;
  width: 200%;
  position: relative;
  top: -13px;
  left: 23px; }

.bar2 {
  height: 4px;
  background: #212121;
  width: 100%;
  position: relative;
  top: -13px;
  left: 23px; }

.bar3 {
  height: 4px;
  background: #66BB6A;
  width: 100%;
  position: relative;
  top: -13px;
  left: 25px; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltiptext {
  width: 220px;
  background-color: #2196F3;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 15px 0;
  padding-left: 20px;
  padding-right: 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -80px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear; }

.tooltiptexthitam {
  background-color: #212121; }

.tooltiptexthijau {
  background-color: #4CAF50; }

.circleku:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.bar2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

.bar3:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

#ilustrasi2, #opsi2 {
  display: none; }

@media (min-width: 1366px) {
  .heading1 {
    font-size: 4.2em; }

  .headingup {
    font-size: 4.7em; }

  .padatas4 {
    padding: 7%;
    padding-top: 200px; } }
@media (min-width: 767px) {
  .padbawah2 {
    padding: 0%; }

  .padright {
    padding-right: 50px; }

  .lebarbtn {
    width: 26%; }

  .padpeta {
    padding: 20%; }

  .padmap {
    padding: 12%; }

  .padapa {
    padding: 100px; }

  .kartu {
    height: 240px;
    background-color: white; }

  .padatas4 {
    padding: 7%;
    padding-top: 150px; }

  .padbesar {
    padding: 10%; }

  .marlow {
    margin-bottom: 0%; }

  .panjang {
    height: 100vh; }

  .padall2 {
    padding: 22%;
    padding-top: 2%;
    padding-bottom: 3%; }

  .padslider {
    padding: 0%;
    padding-top: 3%; }

  .spasiatas {
    padding-top: 35%; }

  .width13 {
    width: 13%; }

  .paddingup {
    padding-top: 10%; }

  .paddingup2 {
    padding: 0%;
    padding-top: 0.5%; }

  .marmin1 {
    margin-top: -100px; }

  .marginup {
    margin-top: 20%; }

  .baris {
    margin-top: -90px;
    padding: 5%; }

  .side {
    width: 500px; }

  .kolomkiri, .kolomkanan {
    float: none;
    vertical-align: top;
    display: table-cell; }

  .kelasku {
    display: table;
    margin: 0px; }

  html, body {
    margin: 0px; }

  /*ini font*/
  p {
    font-size: 1.2em;
    letter-spacing: 1.2px; }

  h3 {
    font-size: 1.4em; }

  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding-left: 25px;
    padding-right: 25px; }

  .card {
    margin-top: -20%;
    background-color: white;
    padding-bottom: 5%; }

  .ukuran {
    width: 650px; }

  .isi {
    font-size: 1.1vw; }

  .gede {
    font-size: 1.4em; }

  .kotak1 {
    height: 600px; }

  .jeda {
    margin-top: 150px; }

  .gambar {
    width: 57%; }

  .seri {
    padding: 2%; }

  .spasirute {
    margin-top: 3.5%; }

  /*ini inputan*/
  .inputanDate {
    width: 23%; }

  .inputanTime {
    width: 20%; }

  .form-control {
    font-size: 12.5px; }

  #barisbook1 {
    text-align: right; }

  .boxlogin {
    margin-bottom: 50px;
    width: 400px;
    padding-bottom: 72px; }

  .barbar {
    width: 80px;
    height: 7px;
    background-color: #2196F3; }

  .padin {
    padding: 3%; }

  .padinabout {
    padding: 4%;
    padding-left: 10%;
    padding-right: 5%; }

  .padinabout1 {
    padding: 15%;
    padding-top: 3%; }

  .padinabout2 {
    padding: 14%;
    padding-top: 40%; }

  .padinabout3 {
    padding: 4%;
    padding-left: 0%;
    padding-right: 8%; }

  .lebartbl {
    width: 200px; }

  .widthconfirm {
    width: 180px;
    border: 1px solid #BDBDBD; }

  .padatasindex {
    padding: 0%;
    padding-top: 18%;
    padding-left: 6%;
    padding-bottom: 10%; }

  .sisikiri {
    margin-left: -40%;
    margin-top: 35%; }

  .padall {
    padding: 7.5%;
    padding-top: 1%;
    padding-bottom: 0%;
    width: 100%; }

  .nospace2 {
    padding: 0%; }

  .padkiri2 {
    padding: 0%;
    padding-left: 2%; }

  .icons {
    width: 13%; }

  .subicons {
    width: 100%; }

  .big {
    font-size: 1.8 em; }

  /*.bgku2{
  background-image: url("/assets/img/mentah/new_side2.jpg");
  height:100vh;
  }*/
  .padkiri3 {
    padding: 7%; }

  .small {
    font-size: 1em; }

  .padhow {
    padding: 17%; } }
@media (max-width: 767px) {
  .kecilspesial {
    font-size: 1.2em; }

  .padbawah2 {
    padding: 0%;
    padding-bottom: 4%; }

  .circleku {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #EF5350;
    padding: 4%;
    color: white; }

  .circlekuhitam {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #212121;
    padding: 4%;
    color: white; }

  .bawah {
    height: 20px;
    width: 3px;
    background-color: #EF5350;
    margin: auto; }

  .bawah2 {
    height: 50px;
    width: 3px;
    background-color: #212121;
    margin: auto; }

  .padapa {
    padding: 20px; }

  .padmap {
    padding: 6%; }

  .bar {
    width: 30px; }

  .padpeta {
    padding: 10%; }

  #grad {
    height: 1100px; }

  /*inifont index*/
  .heading1 {
    font-size: 2.5em; }

  .kartu {
    height: 125px;
    background-color: white; }

  /*ini spasi*/
  .padatas3 {
    padding-top: 10%; }

  .padatas4 {
    padding: 7%; }

  .padbawah {
    padding-left: 15%;
    margin: auto;
    margin-bottom: 60px; }

  .spasiatas {
    padding-top: 18%; }

  .padkiri3 {
    margin-left: 0px; }

  .small {
    display: none; }

  .marlow {
    margin-bottom: 0%;
    /*height:70vh;*/ }

  .panjang {
    height: 250px; }

  .padslider {
    padding: 0%;
    margin-top: 10%; }

  .padkiri3 {
    padding: 10%; }

  .padall2 {
    padding: 18%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 10%; }

  .marmin1 {
    margin-top: -100px; }

  .paddingup {
    padding-top: 20%; }

  .marginup {
    margin: auto;
    margin-top: 50%; }

  .baris {
    margin-top: -70px;
    padding: 5%; }

  .center {
    width: 90%;
    margin-top: 150px;
    box-shadow: 5px 5px 30px #212121; }

  .jeda {
    margin-top: 10px; }

  .seri {
    padding: 2%;
    padding-top: 10%;
    padding-bottom: 15%; }

  .spasirute {
    margin-top: 7%; }

  .padin {
    padding: 5%;
    padding-top: 10%;
    margin-bottom: 5%; }

  .padinabout {
    padding: 15%;
    padding-top: 20%; }

  .padinabout1 {
    padding: 5%;
    padding-top: 3%; }

  .bawahabout {
    margin-bottom: 40%; }

  .nospace {
    padding: 0%; }

  /*.marlow{
  	margin-bottom: 50%;
  }
  */
  .padrute {
    padding-top: 0%; }

  .padatasindex {
    padding: 0%;
    padding-top: 20%;
    padding-left: 6%;
    padding-bottom: 10%; }

  .resp {
    width: 90%; }

  .ukuran {
    width: 100%; }

  .padall {
    padding: 7.5%;
    padding-top: 1%;
    padding-bottom: 0%;
    width: 100%;
    padding-left: 12%;
    padding-right: 2%; }

  .padkiri {
    padding-left: 6%; }

  .padbutton {
    padding: 5%;
    padding-top: 1%; }

  .konten {
    margin: 2% 5% 4% 2%; }

  .konten1 {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%; }

  .padatas {
    padding-top: 2%; }

  .padatas2 {
    margin-top: 10px; }

  /*ini font*/
  .superjumbo {
    font-size: 2.2em; }

  .big {
    font-size: 4.6vw; }

  h2 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.35em; }

  p {
    font-size: 4.4vw; }

  .kecil2 {
    font-size: 3.8vw; }

  .kecil3 {
    font-size: 3.4vw; }

  .super {
    font-size: 10vw; }

  .foot {
    font-size: 3.7vw; }

  .jumbo {
    font-size: 5vw; }

  .kecil1 {
    font-size: 4vw; }

  .rutenya {
    font-size: 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; }

  .parallax {
    min-height: 450px; }

  .find {
    width: 100%;
    margin-top: 10%; }

  .btn-hitam {
    width: 60%;
    height: 38px; }

  .kotak1 {
    height: 570px; }

  .gambar {
    width: 55%; }

  .bg {
    height: 280px;
    background-size: cover;
    background-attachment: fixed; }

  .paddingup2 {
    padding: 0%;
    margin-top: 2%; }

  /*ini inputan*/
  .inputanDate {
    width: 30%; }

  .inputanTime {
    width: 26%; }

  .inputanPass {
    width: 42%; }

  .form-control {
    font-size: 12.5px; }

  #barisbook1 {
    text-align: center; }

  .nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 3.6vw; }

  .btn-biru2 {
    width: 125px;
    height: 36px; }

  .boxlogin {
    width: 340px;
    padding-bottom: 30px;
    margin-bottom: 50px; }

  .circle {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #424242; }

  .bgabout {
    height: 160px; }

  #content1 {
    margin-bottom: -150px; }

  .faqfont1 {
    font-size: 4vw; }

  .faqfont2 {
    font-size: 6vw; }

  .kecil {
    font-size: 1.2em; }

  .lebartbl {
    width: 100px; }

  .bawahtbl {
    margin-bottom: 10%; }

  .widthconfirm {
    width: 140px;
    border: 1px solid #BDBDBD; }

  .isi {
    font-size: 4.5vw; }

  .gambarku {
    height: 250px; }

  .icons {
    width: 40%; }

  .subicons {
    width: 100%;
    margin-left: 4%; }

  .setkotak {
    padding: 0%;
    background-color: #64B5F6;
    padding-top: 8%;
    padding-bottom: 10%; } }
.parallax3 {
  background-image: url("/assets/img/bg/edit2-1.jpg");
  min-height: 780px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.parallax4 {
  background-image: url("/assets/img/bg/potong2.jpg");
  min-height: 440px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/*
background-image: url("/assets/img/bg/editan7.jpg");
	min-height: 650px; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
*/
@media (max-width: 500px) {
  .padrute {
    padding-top: 10%; } }
span.highlight {
  background-color: #64B5F6; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: white;
  opacity: 1; }

.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second {
  display: none; }

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 0%;
  width: 100%;
  height: 40px;
  text-align: center; }

.flatpickr-time .flatpickr-am-pm, .flatpickr-time .flatpickr-time-separator {
  display: none; }

.form-block div.row {
  padding-bottom: 0.7%; }

/* COMPONENTS */
/* PAGES */
/*CUSTOM */
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em; }

.radio .cr {
  border-radius: 50%; }

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.radio .cr .cr-icon {
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

/*# sourceMappingURL=main.css.map */
