/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* Button animation */
h1, h2, h3, h4, h5 {
  margin-top: 0; }

.page-header {
  margin-top: 30px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.top-inner {
  padding: 90px 0 30px 0; }

/* Image Sizes */
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

.clearfix {
  clear: both; }

/* Mixins */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  color: black;
  padding-top: 40px; }

a {
  color: #00aff0; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

img.device {
  width: 100%; }

img.device-small {
  width: 70%;
  margin-bottom: -40px; }

/* COMPONENTS */
/* Navbar */
.navbar.navbar, .navbar-default {
  background-color: #030013;
  color: rgba(255, 255, 255, 0.84); }

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: bold; }
.navbar-default .navbar-nav > li > a:hover {
  color: #00aff0; }

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

div.navbar a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px; }

.navbar-brand {
  background: url(/assets/img/navbar-logo.png) center/contain no-repeat;
  width: 140px; }

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white; }

div.navbar.shrink {
  min-height: 40px;
  max-height: 40px; }
  div.navbar.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px; }
  div.navbar.shrink .navbar-brand {
    height: 40px; }
  div.navbar.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0; }

.container-fab {
  margin-top: -20px;
  padding-right: 10px; }

.fab {
  margin-top: -11px; }

.fab-primary {
  transition: all 0.35s ease-in-out; }

.fab-secondary {
  margin-left: -50px;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  transform: rotate(-225deg); }

.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg); }
.active .fab-secondary {
  opacity: 1;
  transform: rotate(0); }

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important; }

.btn-sq {
  width: 100px !important;
  height: 100px !important; }

.btn-black {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 80%;
  margin: 0 auto; }
  .btn-black:hover {
    background-color: gray;
    color: white; }

#save {
  margin-bottom: 30px; }

/* probably wont use carousel */
.carousel {
  margin-bottom: 60px; }
  .carousel .item img {
    width: 100%;
    height: auto; }
  .carousel .carousel-control {
    z-index: 10; }
  @media screen and (max-width: 767px) {
    .carousel {
      max-height: 250px; } }

.carousel-caption {
  position: absolute; }
  @media only screen and (min-width: 768px) {
    .carousel-caption {
      top: 70%; } }
  @media only screen and (min-width: 992px) {
    .carousel-caption {
      top: 55%; } }
  @media only screen and (min-width: 1200px) {
    .carousel-caption {
      top: 40%; } }
  .carousel-caption h3 {
    font-weight: bold;
    font-size: 2.5vw;
    font-family: "Lato", sans-serif; }
  .carousel-caption p {
    font-size: 1.5vw;
    font-weight: bold; }

.panel-heading-sm {
  padding: 4px 10px; }

.panel-body-sm {
  padding: 1px; }
  .panel-body-sm h4 {
    margin: 0px; }
  .panel-body-sm p {
    margin: 0px; }

.calendar-panel {
  width: 100px; }

.panel-footer .text-small {
  font-size: 1.0vw; }

/* LAYOUTS */
.navbar-push {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 0;
  margin-right: 0; }

@media screen and (max-width: 767px) {
  .push-canvas {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    overflow-x: hidden;
    position: relative;
    left: 0; }

  .push-canvas.pushed-left {
    left: -50%; }

  .push-canvas.pushed-right {
    left: 50%; }

  .navbar-push {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    height: 100%;
    position: fixed;
    width: 50%;
    top: 0; }

  .navbar-push.navbar-push-left {
    right: -50%; }

  .navbar-push.navbar-push-right {
    left: -50%; }

  .navbar-push.navbar-push-right.in {
    left: 0; }

  .navbar-push.navbar-push-left.in {
    right: 0;
    background-color: whitesmoke; }
    .navbar-push.navbar-push-left.in a {
      color: #030013; }

  .navbar-toggle.active {
    left: -50%; }

  .navbar-fixed-top .navbar-collapse {
    max-height: none; } }
/* PAGES */
/* Add additional stylesheets below
-------------------------------------------------- */
/*for alert */
.alert {
  position: absolute;
  z-index: 1; }

/* START For login Page */
.entry {
  float: none;
  margin: auto;
  overflow: auto;
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  color: #444; }

.entry-social {
  margin-top: 10px; }

.entry-social button {
  display: block;
  width: 280px;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px; }

.entry-social button i {
  float: left;
  width: 40px;
  font-size: 20px;
  margin-top: 1px;
  padding-right: 15px;
  padding-left: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.entry-social button#entry-facebook {
  background: #3B5998;
  color: #fff; }

.entry-social button#entry-google {
  background: #db5a3c;
  color: #fff; }

.entry-social button#entry-twitter {
  background: #4099FF;
  color: #fff; }

.entry p {
  font-size: 15px;
  line-height: 20px; }

.email-option .line-thru.or-sign-in {
  margin-bottom: 30px; }

.email-option .line-thru {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 12px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1; }

.email-option .line-thru:after {
  border-bottom: 1px solid #999;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2; }

.email-option .line-thru:before {
  width: 40px;
  height: 10px;
  background-color: #fff;
  content: '';
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1; }

.entry-signup-cta {
  text-align: center;
  margin-top: 20px;
  font-size: 16px; }

div.login {
  padding: 0 20px; }

/* END For login Page */
/* BEGIN for sign-up page */
label.signuperror {
  color: red;
  font-weight: bold;
  padding: 2px 8px;
  position: absolute;
  margin-top: -25px;
  right: 0;
  padding-right: 20px; }

label.valid {
  background: transparent url("/assets/img/valid.png") no-repeat scroll center center;
  display: inline-block;
  height: 24px;
  text-indent: -9999px;
  width: 24px; }

/* END for sign-up page */
.main-text {
  font-family: "Lato", sans-serif;
  width: 96.66666666666666%;
  margin: auto; }
  .main-text h1 {
    text-shadow: 4px 4px 4px #aaa;
    color: #ffffff;
    font-size: 5.0vw; }
  .main-text h3 {
    color: #ffffff;
    font-size: 3.0vw; }

.header {
  top: 100px; }

h4.panel-title {
  font-weight: bold; }

/* BEGIN for sign up page */
label.error {
  color: red;
  font-weight: bold;
  margin-right: 15px;
  padding: 2px 8px;
  position: absolute;
  top: 10px;
  right: 0; }

span.okvalid {
  color: green;
  font-weight: bold;
  margin-right: 15px;
  padding: 2px 8px;
  position: absolute;
  top: 10px;
  right: 0; }

/* END for sign up page */
div.bookride .panel-body {
  font-size: 2.5vmin; }
div.bookride h1 {
  font-size: 6.0vmin; }
div.bookride button {
  font-size: 3.0vmin; }

span.grayTitle {
  font-size: 3.0vmin;
  font-weight: bold;
  color: #666; }

span.graySubtitle {
  font-size: 2.0vmin;
  color: #666; }

span.grayDesc {
  font-size: 2.0vmin;
  color: #666; }

.bg-yellow {
  background: #ffd319; }

div.bookride {
  padding-top: 30px; }

.paymentInfo {
  font-weight: bold;
  font-size: 3vmin;
  padding: 10px;
  text-align: right; }

/*CUSTOM */
#hidemenu {
  margin-top: 12px;
  z-index: 999; }

div#mapView {
  width: 100%;
  height: 300px; }

div#mapViewFull {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
