<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Available Booking List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-sm-offset-2 col-sm-8">
				<h1>Available Booking List</h1>
				<#if routeList??>
					<#assign panelColor = ["panel-danger", "panel-warning", "panel-success", "panel-primary", "panel-info"]>
					<#list routeList as route>
						<div class="panel ${panelColor[route?index]}">
				        	<div class="panel-heading">
				            	<h4 class="panel-title">${(route.code! ' ')} (${(route.name! ' ')})</h4>
				            </div>
			                <div class="panel-body">
			                    <p>
			                    	<a href="/booked/${route.id}">
			                    	<img class="img-responsive" src="assets/${(route.imagepath!'images/route/default.png')}" alt="">
			                    	</a>
			                    	<br>${(route.description! ' ')}
			                    </p>
			                    <a href="/booked/${route.id}" class="btn btn-black btn-lg btn-block">Book Now</a>
			                </div>
				        </div>
					</#list>
				<#else>
					List Routes is Empty
				</#if>
			</div><!-- /.col-md-12 -->
		</div>  <!-- /.container-fluid -->
	</div> <!-- /.page-wrapper -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
</script>

</@layout.myLayout>
