<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Booking Detail">

<script>
</script>

<div class="container-fluid" style="padding: 35px; padding-top: 60px;">
	<h1>Your Booking Has Been Confirmed</h1>
		<#if bookedDto.scheduleId??>
			<#list bookedDto.scheduleId as schedule>
				<#if (schedule?length > 0)>
						<div class="row" style="width: 100%; padding-top: 0.8%;">
							<div class="col-xs-12">
								<hr/>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Booking ID</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								ZVT00${(bookedDto.bookedId[schedule?index]!'')}
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Route Name</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> (${(zebroute.code!'')}) ${(zebroute.name!'')}</h4>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Trip Type</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> One Way Trip</h4>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Departure Date & Time</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> ${(bookedDto.scheduleDate[schedule?index]!'')} - ${(bookedDto.scheduleTime[schedule?index]!'')}</h4>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Departure Pick Up Point</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> Bekasi</h4>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Grand Total</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> Rp ${(zebroute.price?string(",##0.00")!'')}</h4>
							</div>
						</div>
						<div class="row" style="width: 100%;">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
								<h4 class="regular isi"> Method Payment</h4>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
								<h4 class="light isi"> Cash</h4>
							</div>
						</div>
				</#if>
			</#list>
		</#if>
	<div class="row">
		<div class="col-lg-12 pull-right" style="padding-top:10px;">
			<a href="/booking" class="btn btn-default btn-lg">Back to Booking List</a>
			<a href="/ride" class="btn btn-primary btn-lg">View My Ride</a>
		</div>
	</div>
</div><!-- div.container -->
</@layout.myLayout>
<script type="text/javascript">
</script>