<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Ride View">

<script>

	var map;
	var directionsDisplay;
	var directionsService;
	var stepDisplay;
	var markers = [];
	var myMarker;
	var theDriver;
	
	function initMap() {
		// Instantiate a directions service.
		directionsService = new google.maps.DirectionsService;

		var mapDiv = document.getElementById('mapViewFull');

		map = new google.maps.Map(mapDiv, {
			center : {
				lat : -6.224136992658102,
				lng : 106.84298515319824
			},
			zoom : 15,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		});

		// Create a renderer for directions and bind it to the map.
		directionsDisplay = new google.maps.DirectionsRenderer({
			map : map
		});

		var rendererOptions = {
			map : map
		}
		directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
	} //initMap
	
	//check for Geolocation support
	//if (navigator.geolocation) {
	//  console.log('Geolocation is supported!');
	//}
	//else {
	//  console.log('Geolocation is not supported for this Browser/OS version yet.');
	//}

	function getLocation() {
	    if (navigator.geolocation) {
	    	//popupGrowl("success", "Geolocation is supported.");
	    	//ganti marker sendiri
	        navigator.geolocation.getCurrentPosition(showPosition, showError);
	    } else {
	    	popupGrowl("danger", "Geolocation is not supported for this Browser/OS version yet.");
	    }
	}

	function showPosition(position) {
		var myLatLng = {lat: position.coords.latitude, lng: position.coords.longitude};
		if (myMarker === null || myMarker === undefined) {
			myMarker = new google.maps.Marker({
		          position: myLatLng,
		          map: map,
		          icon: "/assets/img/marker-icon-red.png"
		        });
		} else {
			myMarker.setPosition(myLatLng);
		} //endif 
	}

	function showError(error) {
	    switch(error.code) {
	        case error.PERMISSION_DENIED:
	        	popupGrowl("danger", "User denied the request for Geolocation.");
	            break;
	        case error.POSITION_UNAVAILABLE:
	        	popupGrowl("danger", "Location information is unavailable.");
	            break;
	        case error.TIMEOUT:
	        	popupGrowl("danger", "The request to get user location timed out.");
	            break;
	        case error.UNKNOWN_ERROR:
	        	popupGrowl("danger", "An unknown error occurred.");
	            break;
	    }
	}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5FFKx65GYMHFl4nmPfGx2hg2zfszlw0g&libraries=places&callback=initMap"
	type="text/javascript">
</script>

<div>
	<form>
		<input type="hidden" name="id" id="id" value="${(zebroute.id!'')}">
		<input type="hidden" id="routeprice" name="routeprice" value="${(zebroute.price!'')}"/>
		<input type="hidden" id="fromname" name="fromname" value="${(zebroute.fromname!'')}"/>
		<input type="hidden" id="toname" name="toname" value="${(zebroute.toname!'')}"/>
		<input type="hidden" id="fromdisplay" name="fromdisplay" value="${(zebroute.fromdisplay!'')}"/>
		<input type="hidden" id="todisplay" name="todisplay" value="${(zebroute.todisplay!'')}"/>

		<#list zebroute.routePoint as routePoint>
			<input type="hidden" name="locName" id="locName${routePoint?index}"  value="${(routePoint.locName!'')}">
			<input type="hidden" name="locPoint" id="locPoint${routePoint?index}"  value="${(routePoint.locPoint!'')}">
		</#list>
	</form>
</div>

<div id="mapViewFull"></div>

</@layout.myLayout>
<script type="text/javascript">

	function calculateAndDisplayRoute(directionsService, directionsDisplay) {
		var waypts = [];
		var waypointsArray = $('input[name*=locPoint]');
		for (var i = 0; i < waypointsArray.length; i++) {
			if (waypointsArray[i].value != '') {
				var lat = waypointsArray[i].value.split(',')[0].substring(1);
				var lng = waypointsArray[i].value.split(',')[1].slice(0,-1);
				waypts.push({
					location : new google.maps.LatLng(lat, lng),
					stopover : true
				});
			}
		} //end for
	
		directionsService.route(
		{
			origin : document.getElementById('fromname').value,
			destination : document
					.getElementById('toname').value,
			waypoints : waypts,
			optimizeWaypoints : true,
			travelMode : google.maps.TravelMode.DRIVING
		},
		function(response, status) {
			if (status === google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			} else {
				window.alert('Directions request failed due to ' + status);
			}
		});
	} //calculateAndDisplayRoute
	
	function getDriverLoc(){
		$.ajax({
  		    url: '/ride/getloc/${driver.member.id}',
  		    type: 'GET',
            success: function(data) {
        		var myLatLng = {lat: data.point.lat, lng: data.point.lng};
        		if (theDriver === null || theDriver === undefined) {
        			theDriver = new google.maps.Marker({
        		          position: myLatLng,
        		          map: map,
        		          icon: "/assets/img/marker-icon-dark.png"
        		        });
        		} else {
        			theDriver.setPosition(myLatLng);
        		} //endif 
            },
            error: function() {
	                // Fail message
	                popupGrowl("danger", "Failed to get driver position.");
            },
          });
			
	}
	
	function sendDriverLoc(){
	
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(savePosition, positionError, {timeout:1000});
		} else {
			popupGrowl("danger", "Geolocation is not supported in this browser.");
		}
	}
	
	function positionError(error) {
	      var errorCode = error.code;
	      var message = error.message;
	      popupGrowl("danger", "Error occured: " + message);
	  }
	
	function savePosition(position) {
		
		$.ajax({
  		    url: '/ride/sendloc',
  		    type: 'POST',
  		  	data: { driverId: ${driver.member.id}, lat: position.coords.latitude, lng: position.coords.longitude},
  		    cache: false,
            error: function() {
	                // Fail message
	                popupGrowl("danger", "Failed to get send driver position.");
            },
          });

	}

		
	$(function() {
    	setTimeout(function(){ calculateAndDisplayRoute(directionsService, directionsDisplay); }, 1000);
		<#if (session.isDriver)??>
			<#if (session.isDriver) == 'true'>
				sendDriverLoc();
		    </#if>
	   		setInterval(function(){getLocation();getDriverLoc(); }, 10000);
	    </#if>
        //displayStopover();
    });

</script>