<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Booking Detail">

<script>
</script>

<div class="container-fluid form-block" style="padding:35px;padding-top:60px;">
	<h1 class="light"> Booking Detail </h1>
		<#if bookTrip??>
			<div class="row" style="width:100%;padding-top: 0.8%;">
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
					<h4 class="regular isi"> Booking ID</h4>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
					<h4 class="light isi"> ZVT00${bookTrip.id}</h4>
				</div>
			</div>    
			<div class="row" style="width:100%;">
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
					<h4 class="regular isi"> Route Name</h4>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
					<h4 class="light isi">(${(zebRoute.code!'')}) ${(zebRoute.name!'')}</h4>
				</div>
			</div>
			<div class="row" style="width:100%;">
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
					<h4 class="regular isi"> Trip Type</h4>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
					<h4 class="light isi"> One Way Trip</h4>
				</div>
			</div> 
	<div class="row" style="width:100%;">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			<h4 class="regular isi"> Departure Date & Time</h4>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" >
			<h4 class="light isi"> ${dailySchedule.tripdate} - ${dailySchedule.triptime}</h4>
		</div>
	</div> 
	<div class="row" style="width:100%;">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			<h4 class="regular isi"> Departure Pick Up Point</h4>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
			<form action="/ride/edit" method="post" class="form-horizontal" role="form" id="formBooking" name="formBooking">
				<input type="hidden" name="idBooked" id="idBooked" value="${bookTrip.id}">
				<input type="hidden" name="routeNameBooked" id="routeNameBooked" value="${(zebRoute.code!'')}) ${(zebRoute.name!'')}">
				<input type="hidden" name="routeDescBooked" id="routeDescBooked" value="${(zebRoute.description!'')}">
				<input type="hidden" name="dateBooked" id="dateBooked" value="${dailySchedule.tripdate}">
				<input type="hidden" name="timeBooked" id="timeBooked" value="${dailySchedule.triptime}">
				
				<select class="form-control pickup" name="pickupBooked" id="pickupBooked" onChange="combo(this, 'comboPickup')" style="padding-top:0px">
					<#list dropdown["pickup"]?keys as groupKey>
					<option value='${(groupKey!" ")}'<#if bookTrip.pickup?contains(groupKey)> selected</#if>>
					${dropdown["pickup"][groupKey]}</option>
					</#list>
				</select>
			</form>
		</div>
	</div>
	<div class="row" style="width:100%;">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			<h4 class="regular isi"> Grand Total </h4>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
			<h4 class="light isi"> Rp ${(zebRoute.price?string(",##0.00")!'')}</h4>
		</div>
	</div>
	<!-- Not Yet provided -->
	<!-- 
	<div class="row" style="width:100%;">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			<h4 class="regular isi"> Driver Name & Phone Number</h4>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
			<h4 class="light isi"> AAAA (0890-xxx-xxxx)</h4>
		</div>
	</div>
	
	<div class="row" style="width:100%;">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			<h4 class="regular isi"> Vehicle Plate Number</h4>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2" >
			<h4 class="light isi">B 9900 JA</h4>
		</div>
	</div>
	 -->
	<!-- Not Yet provided -->
	
	

	<div class="row" style="width:100%;margin-top: 30px">
		<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" style="margin-bottom: 5%;">
			<button id="back" class="btn-putihin widthconfirm"><span class="fa fa-car"></span> &nbsp; Back to Ride List</button>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
			<button id="save" type="submit" class="btn-hitam widthconfirm"><span class="fa fa-floppy-o"></span> &nbsp; Save</button>
		</div>
	</div>
	<#else>
		Data Not Found.
	</#if>
</div>

</@layout.myLayout>
<script type="text/javascript">
	$('#save').click(function() {
		$('#formBooking').submit();
	});
	
	$('#back').click(function() {
		location.href = "/ride";
	});
	//combo pickup
	function combo(thelist, theinput) {
		theinput = document.getElementById(theinput);
		var a = thelist.value;
		theinput.value = a;
	}
</script>