<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Ride Available List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid" style="padding:25px;padding-top:60px;">
		<h1 class="light"> Booking List </h1>
	  <table class="table table-striped" style="margin-top:1%;">
	    <thead>
	      <tr>
	        <th>No</th>
	        <th>Route</th>
			<th class="">Departure Date</th>
			<th class="small">Departure Time</th>
			<th class="small">Drop Off Point</th>
			<th class="small">Status</th>
			<th class="lebartbl"></th>
	      </tr>
	    </thead>
	    <tbody>
		<#if tripList??>
			<#list tripList as trip>
			      <tr>
			        <td>${trip?index}</td>
			        <td>${(trip.dailySchedule.zebRoute.code! ' ')} (${(trip.dailySchedule.zebRoute.name! ' ')})</td>
			        <td class="">${trip.dailySchedule.tripdate?string}</td>
					<td class="small">${trip.dailySchedule.triptime?string.short}</td>
			        <td class="small">${(trip.pickup!'')}</td>
			        <td class="small">${(trip.status!'')}</td>
					<td>
					<a href="/ride/edit/${trip.id}"><button class="btn-hitam bawahtbl" style="width: 60px;"> Edit </button></a>
						<#if trip.status != 'Allocated'>
							<button class="btn-putihin" 
								data-title="Delete"
								data-toggle="modal" data-target="#delete"
								data-trip-id="${trip.id}" 
								data-schedule-id="${trip.dailySchedule.id}" 
								data-route-name="${trip.dailySchedule.zebRoute.name}"
								data-route-desc="${trip.dailySchedule.zebRoute.description}"
								data-pickup-loc="${(trip.pickup!'')}"  
								data-trip-date="${trip.dailySchedule.tripdate?string}" 
								data-trip-time="${trip.dailySchedule.triptime?string}"> Cancel</button>
						</#if>
					</td>
			      </tr>
		      </#list>
		<#else>
			<tr><td collspan="8">Your ride list is Empty</td></tr>
		</#if>
	      
	    </tbody>
	  </table>
	</div><!-- container-fluid -->
</div><!-- pagw-wrapper -->

<form action="/ride/delete" method="post" id="deleteRide" role="form">
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
	<input type="hidden" name="idBooked" class="id" id="idBooked" value=""/>
	<input type="hidden" name="routeNameBooked" id="routeNameBooked" value=""/>
	<input type="hidden" name="routeDescBooked" id="routeDescBooked" value=""/>
	<input type="hidden" name="dateBooked" id="dateBooked" value=""/>
	<input type="hidden" name="timeBooked" id="timeBooked" value=""/>
	<input type="hidden" name="pickupBooked" id="pickupBooked" value=""/>
					
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="fa fa-times" aria-hidden="true"></span>
				</button>
				<h4 class="modal-title custom_align" id="Heading">Cancel Your Booking?</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure want to cancel your booking : <span class="schedule-id"></span>?</p>
			</div>
			<div class="modal-footer ">
				<button type="submit" class="btn btn-warning btn-lg" style="width: 100%;">
					<i class="fa fa-check-square" aria-hidden="true"></i> Proceed Cancel
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
</form>

</@layout.myLayout>

<script type="text/javascript">
$('#delete').on('show.bs.modal', function(e) {
	var $modal = $(this), 
		tripId = $(e.relatedTarget).data('trip-id'), 
		scheduleId = $(e.relatedTarget).data('schedule-id'), 
		routeName = $(e.relatedTarget).data('route-name'),
		routeDesc = $(e.relatedTarget).data('route-desc'),
		pickupLoc = $(e.relatedTarget).data('pickup-loc'),
		tripDate = $(e.relatedTarget).data('trip-date'),
		tripTime = $(e.relatedTarget).data('trip-time');
	
	$modal.find('.schedule-id').html("(" + scheduleId + ") " + routeName + " " + tripTime);
	//console.log($modal.find('input#id').val);
	$modal.find('input[id=idBooked]').val(tripId);
	$modal.find('input[id=routeNameBooked]').val(routeName);
	$modal.find('input[id=routeDescBooked]').val(routeDesc);
	$modal.find('input[id=pickupBooked]').val(pickupLoc);
	$modal.find('input[id=dateBooked]').val(tripDate);
	$modal.find('input[id=timeBooked]').val(tripTime);
})
</script>

