<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Search Routes">

<script>

	var map;
	var directionsDisplay;
	var directionsService;
	var stepDisplay;
	var markers = [];
	var myMarker;
	var theDriver;
	
	function initMap() {
		// Instantiate a directions service.
		directionsService = new google.maps.DirectionsService;

		var mapDiv = document.getElementById('googleMap');

		map = new google.maps.Map(mapDiv, {
			center : {
				lat : -6.224136992658102,
				lng : 106.84298515319824
			},
			zoom : 15,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		});

		// Create a renderer for directions and bind it to the map.
		directionsDisplay = new google.maps.DirectionsRenderer({
			map : map
		});

		var rendererOptions = {
			map : map
		}
		directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
	} //initMap
	
	function showError(error) {
	    switch(error.code) {
	        case error.PERMISSION_DENIED:
	        	popupGrowl("danger", "User denied the request for Geolocation.");
	            break;
	        case error.POSITION_UNAVAILABLE:
	        	popupGrowl("danger", "Location information is unavailable.");
	            break;
	        case error.TIMEOUT:
	        	popupGrowl("danger", "The request to get user location timed out.");
	            break;
	        case error.UNKNOWN_ERROR:
	        	popupGrowl("danger", "An unknown error occurred.");
	            break;
	    }
	}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5FFKx65GYMHFl4nmPfGx2hg2zfszlw0g&libraries=places&callback=initMap"
	type="text/javascript">
</script>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 kelasku" style="padding: 0%;">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 kolomkiri" style="padding: 0%;">
		<div class="container-fluid" style="height: 100px; background-color: #90CAF9; padding: 0%;"></div>
		<div class="row padall">
			<h2>Search Your Routes: </h2>
		</div>

		<form id="searchRouteForm" name="searchRouteform">
		<div class="row padall">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<div class="row" style="width: 100%;">
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" style="padding: 0%;">
						<h4 class="regular kecil1">Route</h4>
					</div>
					<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9" style="padding: 0%;">
						<select class="form-control" id="routeList" name="routeList">
							<#list dropdown["route"]?keys as groupKey>
								<option value='${(groupKey!" ")}'>
									${dropdown["route"][groupKey]}</option>
							</#list>
						</select>
					</div>
				</div>
				<div class="row"
					style="width: 100%; padding-top: 4%; padding-bottom: 4%;">
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3" style="padding: 0%;">
						<h4 class="regular kecil1">Date</h4>
					</div>
					<div class="col-xs-8 col-sm-9 col-md-9 col-lg-9" style="padding: 0%;">
						<input class="flatpickr form-control" type="text" placeholder="Select Date.." id="routeDt" name="routeDt">
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
				<div class="row" style="width: 100%;">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
						style="padding: 0%;">
						<h4 class="regular kecil1">Trip</h4>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"
						style="padding: 0%;">
						<select class="form-control" id="trip" name="trip">
							<option value="2">One Way</option>
						</select>
					</div>
				</div>
				<div class="row" style="width: 100%; padding-top: 4%;">
					<div class="col-xs-4 col-sm-5 col-md-5 col-lg-4"
						style="padding: 0%;">
						<h4 class="regular kecil1">Passengers</h4>
					</div>
					<div class="col-xs-8 col-sm-7 col-md-7 col-lg-8"
						style="padding: 0%;">
						<select class="form-control" id="passenger" name="passenger">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 text-right"
				style="padding-right: 30px; padding-left: 0%;">
				<button id="searchRoute" name="searchRoute" class="btn-biru padatas2" style="width: 100%; height: 35px;">
					Find</button>
			</div>
		</div>
		</form>

		<div class="container-fluid" id="searchResult" name="searchResult"
			style="width: 100%; padding: 0%; padding-left: 0%; display:none;">
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 kolomkanan"
		id="googleMap" style="height: 100vh;"></div>
</div>
</@layout.myLayout>
<script type="text/javascript">

$("#searchRoute").click(function(){
	event.preventDefault();
	$.ajax({
		    url: '/search/routes',
		    type: 'POST',
		    data: $('#searchRouteForm').serialize(),
		    cache: false,
            success: function(data) {
            	//$("#routeName").html(data);
            	//run javascript to update the list from return json
            	$("#searchResult").append(data).show();
            	},
            error: function() {
                // Fail message
                popupGrowl("danger", "Sorry, please try again later. Thanks");
                
                //clear all fields
                $('#searchRouteForm').trigger("reset");
            },
      });
});

$(function() {
		flatpickr(".flatpickr", {
		minDate: new Date(),
		maxDate: "2100-03-20",
		disable: [
        function (date) {
            return date.getDay() === 0 || date.getDay() === 6; // disable weekends
        }
		],});
});
</script>