<div class="row padall">
	<h2 id="routeName">${(zebroute.name!'')}</h2>
</div>

<div class="row padatas"
	style="border-bottom: 1px solid #E0E0E0; padding-left: 6%; width: 100%;">
	<ul class="nav nav-tabs" id="tabku">
		<li class="active"><a data-toggle="tab" href="#single" onclick="changeTab(1)">Single Booking</a></li>
		<li><a data-toggle="tab" href="#multi" onclick="changeTab(2)">Multi-days Booking</a></li>
	</ul>
</div>

<div class="tab-content" style="padding-left: 4%; padding-top: 1.5%;">
	<div id="single" class="tab-pane fade in active">
		<div class="hidden-xs">
			<div class="row"
				style="padding-bottom: 1.5%; margin-right: 3%; margin-left: 2%;">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
					style="padding: 0%; padding-left: 2%;">
					<h4 class="regular kecil2">Route</h4>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2"
					style="padding: 0%;">
					<h4 class="regular kecil2">Departure Time</h4>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
					style="padding: 0%;">
					<h4 class="regular kecil2">Est. Arrival Time</h4>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
					style="padding: 0%;">
					<h4 class="regular kecil2">Price</h4>
				</div>
				<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"
					style="padding: 0%;">
					<h4 class="regular kecil2">Pick Up Point</h4>
				</div>
			</div>
		</div>
		
		<form action="/booked" method="post" class="form-horizontal" role="form" id="formSchedule" name="formSchedule">
		<!-- row konten-->
		<div class="row konten">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="margin-top: -1%;">
				<h4 class="medium kecil1" style="padding-top: 0%;">
					Departure trip</h4>
			</div>
			<div class="col-xs-12">
				<input type="hidden" name="id" id="id" value="${(zebroute.id!'')}">
				<input type="hidden" id="routeid" name="routeId" value="${(zebroute.id!'')}">
				<input type="hidden" id="routeprice" name="routeprice" value="${(zebroute.price!'')}"/>
				<input type="hidden" id="fromname" name="fromname" value="${(zebroute.fromname!'')}"/>
				<input type="hidden" id="fromdisplay" name="fromdisplay" value="${(zebroute.fromdisplay!'')}"/>
				<input type="hidden" id="toname" name="toname" value="${(zebroute.toname!'')}"/>
				<input type="hidden" id="todisplay" name="todisplay" value="${(zebroute.todisplay!'')}"/>

				<!-- ini peta pertama-->
				<div class="hidden-xs">
					<div class="container-fluid marlow" style="padding: 0%;"
						id="ilustrasi1">
						<div
							class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"
							style="padding: 0%; width: 100%; padding-top: 10px; padding-bottom: 0%;">
							<div class="container-fluid"
								style="padding: 10%; background-color: #F5F5F5; padding-bottom: 8%; padding-top: 2%;">
								<p>
									<i class="fa fa-map"></i> <span class="text-success"><strong>${(zebroute.fromdisplay!'')}</strong></span>
									<#list zebroute.routePoint as routePoint> <input type="hidden"
										name="locPoint" id="locPoint${routePoint?index}"
										value="${(routePoint.locPoint!'')}"> <i
										class="fa fa-long-arrow-right" aria-hidden="true"></i> <span
										class="text-default"><strong>${(routePoint.locDisplay!'')}</strong></span>
									</#list> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
									<span class="text-danger"><strong>${(zebroute.todisplay!'')}</strong></span>
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<#if dailyScheduleList?? && (dailyScheduleList?size > 0)>
				<#list dailyScheduleList as dailySchedule>
				<div class="col-xs-12 listroute">
		 			<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 padkiri padkiri2" style="padding-bottom:6px;">
			      	  <div class="checkbox">
			      	  	<label style="font-size: 1em">
				 			  <input type="hidden" class="h_scheduleid" value="${dailySchedule.id}">
					      	  <input type="hidden" name="scheduleId" id="scheduleid${dailySchedule.id}" value="">
					      	  <input type="hidden" name="routeId" id="routeid${dailySchedule.id}" value="">
					      	  <input type="hidden" name="bookedId" value="">
					      	  <input type="hidden" name="scheduleDate" value="${dailySchedule.tripdate}">
					      	  <input type="hidden" name="scheduleTime" value="${dailySchedule.triptime}">
			      	  		<input type="checkbox" value="${dailySchedule.id}" name="pickroute" <#if dailySchedule.booked> disabled="disabled" checked="checked" </#if> >
			      	  		<span class="cr"><i class="cr-icon fa fa-check"></i></span>${(zebroute.name!'')}</label>
						</div>
        			  
					</div>
					<div class="hidden-xs">
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 nospace2 padkiri"
							style="padding-top:11px">
							<h4 class="regular kecil2">${(dailySchedule.triptime!'')}</h4>
						</div>
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 nospace2 padkiri"
							style="padding-top:11px">
							<h4 class="regular kecil2">${(dailySchedule.triptime!'')}</h4>
						</div>
					</div>
					<!-- echo dua kali waktunya-->
					<div class="hidden-sm hidden-md hidden-lg">
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2"
							style="padding: 0%;">
							<h4 class="regular kecil2" style="display: inline-block">
								${(dailySchedule.triptime!'')} - ${(dailySchedule.triptime!'')}</h4>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 nospace2 padkiri"
						style="padding-top:11px;">
						<h4 class="regular biru kecil2" style="">
							Rp ${(zebroute.price?string(",##0.00")!'')}</h4>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3"
						style="padding-left: 0%;padding-top:1px;padding-bottom:1px;">
						<select class="form-control"  name="pickup" id="comboPickup${dailySchedule.id}" onChange="combo(this, 'comboPickup${dailySchedule.id}')">
							<option>Select Pick Up Point</option>
							<#if zebroute.routePoint?? && (zebroute.routePoint?size > 0)>
							<#list zebroute.routePoint as routePoint>
							<option value="${routePoint.id}">${routePoint.locName!''}</option>
							</#list>
							</#if>
						</select>
					</div>
				</div>
				</#list>
			<#else>
			</#if>
	
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
				style="padding-left: 0%; padding-right: 0.5%; padding-top: 3%;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-left"
					style="margin-top: -2%;">
					<h3 class="light">
						<span class="medium kecil2"> Total Price </span> &nbsp Rp
							<span class="payment" id="strpayment">0</span>
							<input type="hidden" name="payment" id="payment" value="0">
					</h3>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-right">
					<button id="save" onclick="submit()" class="btn-hitam2" style="width: 100px; height: 34px;">
						Book</button>
				</div>
			</div>
		</div><!-- end row konten-->
		</form><!-- end formSchedule -->
	</div><!-- end div.single -->

	<div id="multi" class="tab-pane fade in">
		<div class="row"
			style="padding-bottom: 1.5%; margin-right: 3%; margin-left: 2%;">
			<div class="col-xs-12" style="padding: 0%; padding-left: 2%;">
				<h4 class="regular kecil2">Coming Soon....</h4>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#save').click(function() {
		$('#formSchedule').submit();
	});
	
	
	$('#formSchedule :checkbox').click(function() {
		console.log("Goes in here!");
	    var $this = $(this);
	    var scheduleId = $this.siblings('.h_scheduleid').eq(0).val();
	    
	    
	    var current = $('#payment').val();
	    var price = $('#routeprice').val();
	    var total = 0;
	
	    // $this will contain a reference to the checkbox   
	    if ($this.is(':checked')) {
	        // the checkbox was checked, plus payment 
	        total = +current + +price;
	        $this.siblings('#scheduleid'+scheduleId).eq(0).val(scheduleId);
	        //select the pickup default
	        $('#comboPickup'+scheduleId).eq(0).prop('selectedIndex', 1).change();
	    } else {
	        // the checkbox was unchecked, minus payment
	    	total = +current - +price;
	        $this.siblings('#scheduleid'+scheduleId).eq(0).val('');
	        //back to blank for the pickup
	        $('#comboPickup'+scheduleId).eq(0).prop('selectedIndex', 0).change();
	    }
	    $("input[name=payment]:hidden").val(total);
	    //$('#payment').val(total);
	    $('#strpayment').text(total.toLocaleString("en"));
	});
	
	//combo pickup
	function combo(thelist, theinput) {
		theinput = document.getElementById(theinput);
		var a = thelist.value;
		theinput.value = a;
	}
	

	function calculateAndDisplayRoute(directionsService, directionsDisplay) {
		var waypts = [];
		var waypointsArray = $('input[name*=locPoint]');
		for (var i = 0; i < waypointsArray.length; i++) {
			if (waypointsArray[i].value != '') {
				var lat = waypointsArray[i].value.split(',')[0].substring(1);
				var lng = waypointsArray[i].value.split(',')[1].slice(0,-1);
				waypts.push({
					location : new google.maps.LatLng(lat, lng),
					stopover : true
				});
			}
		} //end for
	
		directionsService.route(
		{
			origin : document.getElementById('fromname').value,
			destination : document
					.getElementById('toname').value,
			waypoints : waypts,
			optimizeWaypoints : true,
			travelMode : google.maps.TravelMode.DRIVING
		},
		function(response, status) {
			if (status === google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			} else {
				window.alert('Directions request failed due to ' + status);
			}
		});
	} //calculateAndDisplayRoute
	
	$(function() {
    	setTimeout(function(){ calculateAndDisplayRoute(directionsService, directionsDisplay); }, 1000);
        //displayStopover();
    });
	
</script>

