<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Error. Forbidden.">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Anda harus login terlebih dahulu.</h2>
                <div class="col-xs-offset-3 col-xs-offset-6">
					<a class="btn btn-primary" href="/login">Login</a>
                    <a class="btn btn-success" href="/sign-up">Daftar</a>
				</div>
            </div>
        </div>
    </div>
</div>
</@layout.myLayout>