<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/"></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="navbar-right nav navbar-nav">
			<#if (session.username)??>
                <li><a href="/member">Hi, ${session.name}!</a></li>
            </#if>
			<#if (session.isAdmin)??>
				<#if (session.isAdmin) == 'true'>
			    	<li><a href="/admin">Admin Page</a></li>
			    </#if>
            </#if>
			<#if (session.isDriver)??>
				<#if (session.isDriver) == 'true'>
			    	<li><a href="/ride-list">Ride List</a></li>
			    	<li><a href="/history">History</a></li>
			    </#if>
            </#if>
                <li><a href="/">Home</a></li>
                <li><a href="/routes">Route</a></li>
                <li><a href="/ride">Booking List</a></li>
                <li><a href="/blog">About Us</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
			<#if (session.username)??>
                <li><a href="/logout">${i18n("header.logout")}</a></li>
            <#else>
                <li><a href="/login" id="login">${i18n("header.login")}</a></li>
            </#if>
				
			</ul>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>