div.bookride {
	.panel-body {
		font-size:2.5vmin;
	}
	h1 {
		font-size:6.0vmin;
	}
	button {
		font-size:3.0vmin;
	}
}

span.grayTitle {
	font-size: 3.0vmin; 
	font-weight:bold;
	color:$gray-color;
}

span.graySubtitle {
	font-size: 2.0vmin; 
	color:$gray-color;
}

span.grayDesc {
	font-size: 2.0vmin; 
	color:$gray-color;
}

.bg-yellow{
	background:$yellow-color;
}

div.bookride {
	padding-top:30px;
}

.paymentInfo{
	font-weight:bold;
	font-size: 3vmin;
	padding: 10px;
	text-align: right;
}