div#map {
	max-width:400px;
	height: 400px;
	left: 20px;
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  vertical-align: middle;
}
.btn-sq-lg .fa-5x {
	padding-top: 30px;
}

.td-number {
	text-align : right;
}

tr.clickable-row { cursor: pointer; } 