.main-text {
	font-family:$base-font-family;
	width: 96.66666666666666%;
	margin: auto;

    h1 {
		text-shadow: 4px 4px 4px #aaa;
		color:$font-white;
		font-size: 5.0vw;
    }

    h3 {
		color:$font-white;
		font-size: 3.0vw;
    }
}

.header{
	top:100px;
}

h4.panel-title {
	font-weight: bold;
}

/* BEGIN for owl-carousel owl-route */

#owl-route .item{
  margin: 3px;
}

#owl-route .item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-carousel div h2, .owl-carousel div .textoverlay{
	position:absolute;
	color:#FFF;
	display:block;
	text-align:center;
}

.owl-carousel a.btn {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    }
/* END for owl-carousel owl-route */

/* BEGIN for sign up page */

label.error {
    color: red;
    font-weight: bold;
    margin-right: 15px;
    padding: 2px 8px;
    position:absolute;
    top:10px;
    right:0;
}

span.okvalid {
    color: green;
    font-weight: bold;
    margin-right: 15px;
    padding: 2px 8px;
    position:absolute;
    top:10px;
    right:0;
}
/* END for sign up page */

