<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Book A Ride">

<script>
	var map;
	var directionsDisplay;
	var directionsService;
	var stepDisplay;
	var markers = [];
    
	function initMap() {
		// Instantiate a directions service.
		directionsService = new google.maps.DirectionsService;

		var mapDiv = document.getElementById('mapView');

		map = new google.maps.Map(mapDiv, {
			center : {
				lat : -6.224136992658102,
				lng : 106.84298515319824
			},
			zoom : 15,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		});

		// Create a renderer for directions and bind it to the map.
		directionsDisplay = new google.maps.DirectionsRenderer({
			map : map
		});

		var rendererOptions = {
			map : map
		}
		directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
	}
</script>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5FFKx65GYMHFl4nmPfGx2hg2zfszlw0g&libraries=places&callback=initMap"
	type="text/javascript">
</script>
<div class="container bookride">
	<h1>Book Your Ride</h1>
		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
			  		<div class="col-xs-8">
						<span class="grayTitle"><i class="fa fa-road"></i> (${(zebroute.code!'')}) ${(zebroute.name!'')}</span><br/>
						<span class="grayDesc"><i class="fa fa-chevron-circle-right"></i> ${(zebroute.description!'')}</span><br/>
					</div>
					<div class="col-xs-4 text-right bg-yellow">
						<span class="text-default"><strong><del>Rp 35,000.00</del></strong></span><br/>
						<span class="text-danger"><strong>Rp ${(zebroute.price?string(",##0.00")!'')}</strong></span>
					</div>
				</div>

			  
			  </div>
			</div>
		</div>
		<hr>

			<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				<input type="hidden" name="id" id="id" value="${(zebroute.id!'')}">
				<input type="hidden" id="routeprice" name="routeprice" value="${(zebroute.price!'')}"/>
				<input type="hidden" id="fromname" name="fromname" value="${(zebroute.fromname!'')}"/>
				<input type="hidden" id="fromdisplay" name="fromdisplay" value="${(zebroute.fromdisplay!'')}"/>
				<input type="hidden" id="toname" name="toname" value="${(zebroute.toname!'')}"/>
				<input type="hidden" id="todisplay" name="todisplay" value="${(zebroute.todisplay!'')}"/>
				
				<p><i class="fa fa-map"></i> 
					<span class="text-success"><strong>${(zebroute.fromdisplay!'')}</strong></span>
					<#list zebroute.routePoint as routePoint>
						<input type="hidden" name="locPoint" id="locPoint${routePoint?index}"  value="${(routePoint.locPoint!'')}">
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<span class="text-default"><strong>${(routePoint.locDisplay!'')}</strong></span>
					</#list>
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					<span class="text-danger"><strong>${(zebroute.todisplay!'')}</strong></span>
				</p>
			</div>
		  </div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div id="mapView"></div>
			</div>
		</div>
		<hr>

		<div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-body">
				<form action="/booked" method="post" class="form-horizontal" role="form" id="formSchedule" name="formSchedule">
				<input type="hidden" id="routeid" name="routeId" value="${(zebroute.id!'')}">
				<input type="hidden" id="routeprice" name="routePrice" value="${(zebroute.price!'')}">
				<table class="table table-striped table-hover" id="scheduleTable">
					<thead>
						<tr>
							<th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
							<th>Date</th>
							<th>Time</th>
							<th>Pick-Up Point</th>
						</tr>
					</thead>
					<tbody>
					<#if dailyScheduleList?? && (dailyScheduleList?size > 0)>
						<#list dailyScheduleList as dailySchedule>
						    <tr>
						      <td><input type="checkbox" <#if dailySchedule.booked> disabled="disabled" checked="checked" </#if>>
						      	  <input type="hidden" class="h_scheduleid" value="${dailySchedule.id}">
						      	  <input type="hidden" name="scheduleId" id="scheduleid${dailySchedule.id}" value="">
						      	  <input type="hidden" name="bookedId" value="">
						      	  <input type="hidden" name="scheduleDate" value="${dailySchedule.tripdate}">
						      	  <input type="hidden" name="scheduleTime" value="${dailySchedule.triptime}">
						      </td>
						      <td>${(dailySchedule.tripdate!'')}</td>
						      <td>${(dailySchedule.triptime!'')}</td>
						      <td>
						      <select class="form-control pickup" name="pickup" id="comboPickup${dailySchedule.id}" onChange="combo(this, 'comboPickup${dailySchedule.id}')" style="padding-top:0px">
								<#list dropdown["pickup"]?keys as groupKey>
								<option value='${(groupKey!" ")}'<#if dailySchedule.pickup?contains(groupKey)> selected</#if>>
								${dropdown["pickup"][groupKey]}</option>
								</#list>
								</select>
						      </td>
						    </tr>
						</#list>
					<#else>
					</#if>
					</tbody>
				</table> 
				<br />
				<div class="col-xs-offset-6 col-xs-6 text-right">
					<p class="bg-yellow paymentInfo">
						Rp <span class="payment" id="strpayment">0</span>
						<input type="hidden" name="payment" id="payment" value="0">
					</p>
					<button id="save" onclick="submit()" class="btn btn-primary btn-lg">
						<span class="fa fa-floppy-o"></span> Book Now
					</button>
				</div>
				</form>
			</div> <!-- /panel-body -->
		</div> <!-- /panel-default -->
	</div><!-- /col-md-12 -->		
		
</div><!-- div.container -->
</@layout.myLayout>
<script type="text/javascript">

	$('#save').click(function() {
		$('#formSchedule').submit();
	});


	$('#formSchedule :checkbox').click(function() {
	    var $this = $(this);
	    var scheduleId = $this.siblings('.h_scheduleid').eq(0).val();
	    
	    
	    var current = $('#payment').val();
	    var price = $('#routeprice').val();
	    var total = 0;

	    // $this will contain a reference to the checkbox   
	    if ($this.is(':checked')) {
	        // the checkbox was checked, plus payment 
	        total = +current + +price;
	        $this.siblings('#scheduleid'+scheduleId).eq(0).val(scheduleId);
	        //select the pickup default
	        $('#comboPickup'+scheduleId).eq(0).prop('selectedIndex', 1).change();
	    } else {
	        // the checkbox was unchecked, minus payment
	    	total = +current - +price;
	        $this.siblings('#scheduleid'+scheduleId).eq(0).val('');
	        //back to blank for the pickup
	        $('#comboPickup'+scheduleId).eq(0).prop('selectedIndex', 0).change();
	    }
	    $("input[name=payment]:hidden").val(total);
        //$('#payment').val(total);
        $('#strpayment').text(total.toLocaleString("en"));
	});

	function calculateAndDisplayRoute(directionsService, directionsDisplay) {
		var waypts = [];
		var waypointsArray = $('input[name*=locPoint]');
		for (var i = 0; i < waypointsArray.length; i++) {
			if (waypointsArray[i].value != '') {
				var lat = waypointsArray[i].value.split(',')[0].substring(1);
				var lng = waypointsArray[i].value.split(',')[1].slice(0,-1);
				waypts.push({
					location : new google.maps.LatLng(lat, lng),
					stopover : true
				});
			}
		} //end for
	
		directionsService.route(
		{
			origin : document.getElementById('fromname').value,
			destination : document
					.getElementById('toname').value,
			waypoints : waypts,
			optimizeWaypoints : true,
			travelMode : google.maps.TravelMode.DRIVING
		},
		function(response, status) {
			if (status === google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			} else {
				window.alert('Directions request failed due to ' + status);
			}
		});
	} //calculateAndDisplayRoute
	
	//combo pickup
	function combo(thelist, theinput) {
		theinput = document.getElementById(theinput);
		var a = thelist.value;
		theinput.value = a;
	}

	
	$(function() {
    	setTimeout(function(){ calculateAndDisplayRoute(directionsService, directionsDisplay); }, 1000);
        //displayStopover();
    });

</script>