<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Booking Detail">

<script>
</script>

<div class="container">
	<h1>Your Booking Has Been Confirmed</h1>
	<div class="row">
		<div class="col-md-12">
		<#if bookedDto.scheduleId??>
			<#list bookedDto.scheduleId as schedule>
				<#if (schedule?length > 0)>
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<div class="row">
					  		<div class="col-xs-12">
					  			<p><i class="fa fa-check-square-o"></i>Booking # : ZVT00${(bookedDto.bookedId[schedule?index]!'')}</p>
								<p><i class="fa fa-road"></i> Route Name : (${(zebroute.code!'')}) ${(zebroute.name!'')}</p>
								<p><i class="fa fa-chevron-circle-right"></i> Desc : ${(zebroute.description!'')}</p>
								<p><i class="fa fa-calendar"></i> Date : ${(bookedDto.scheduleDate[schedule?index]!'')}</p>
								<p><i class="fa fa-clock-o"></i> Time : ${(bookedDto.scheduleTime[schedule?index]!'')}</p>
								<p><i class="fa fa-money"></i> Price : <span class="text-danger"><strong>Rp ${(zebroute.price?string(",##0.00")!'')}</strong></span></p>
							</div>
						</div>
						</div>
					</div><!-- /.panel-default -->
				</#if>
			</#list>
		</#if>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<div class="row">
		<div class="col-md-12 pull-right">
			<a href="/booking" class="btn btn-default btn-lg">Back to Booking List</a>
			<a href="/ride" class="btn btn-primary btn-lg">View My Ride</a>
		</div>
	</div>
</div><!-- div.container -->
</@layout.myLayout>
<script type="text/javascript">
</script>