<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Antar Jemput ONLINE">

<div class="col-lg-12 parallax3" style="padding:0%;">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="padding:10%;padding-top:17%;padding-bottom:0%;">
		<h1 class="logo putih wow fadeIn" style="font-size: 3em">zebravan </h1>
		<h1 class="headingup thin putih wow fadeInLeft" style="margin-bottom:30px;"> Solusi Baru Pergi & Pulang Kantor</h1>
		<h2 class="regular putih wow fadeInUp" style="margin-bottom:-10px;font-size: 1.8em"> Find Your <span class="biru medium"> Route. </span></h2>
		<h2 class="regular putih wow fadeInUp" style="margin-top:20px;font-size: 1.8em"> <span class="medium biru">Book</span> Your Trip.</h2>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" style="padding-top:18%;padding-right:4%;">
		<img src="/assets/img/bg/gadgets2.png" style="width:100%;">
	</div>
</div>

<div class="col-lg-12 text-center padapa" style="" id="grad2">
	<div class="row text-center" style="width:70%;margin:auto;margin-bottom:20px">
		<h1 class="heading1 thin putih wow fadeInUp" style="margin-top:20px"> What Is <span class="logo putih">zebravan</span>?</h1>
		<p class="light putih wow fadeIn" style="margin-top:30px;font-size:1.3em;"> 
		Zebravan ialah layanan transportasi yang memfasilitasi kepergian Anda ke kantor dengan menggunakan MPV. 
		Sangat tepat bagi Anda yang tinggal di 
		Bogor, Depok, Tangerang, Bekasi dan berkantor di Jakarta. 
		</p>
	</div>
</div>

<div class="col-lg-12 text-center" style="padding:6%;background-color:#64B5F6;padding-bottom:50px;">
	<h1 class="heading1 thin putih wow fadeInUp" style="margin-bottom:30px;"> How to Ride <span class="logo putih">zebravan</span></h1>
	<div class="row padhow" style="width:100%;padding-top:40px;padding-bottom:4%;">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padbawah text-center" style="">
			<img class="gambar wow flipInY" src="/assets/img/icons/test1.png">
			<h3 class="putih medium gede wow fadeInUp" style="margin-top:40px"> Find Your Route</h3>
			<h4 class="light putih kecil wow fadeInUp" style="margin-top:30px">
			Select a route and schedule that matches with your destination
			</h4>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padbawah text-center">
			<img class="gambar wow flipInY" src="/assets/img/icons/test2.png">
			<h3 class="medium putih wow fadeInUp" style="margin-top:40px"> Book A Trip</h3>
			<h4 class="light putih kecil wow fadeInUp" style="margin-top:30px">
			 Select a departure time & pick up point
			</h4>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padbawah text-center">
			<img class="gambar wow flipInY" src="/assets/img/icons/icons3.png">
			<h3 class="putih medium wow fadeInUp" style="margin-top:40px"> Ride The Van </h3>
			<h4 class="light putih kecil wow fadeInUp" style="margin-top:30px">
			 Stand-by at the pick up point at least 10 minutes earlier from your departure time
			</h4>
		</div>
	</div>
</div>

<div class="container-fluid kelasku" style="padding:0%;">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 kolomkiri padkiri3">
		<h1 class="heading1 thin text-left wow fadeInUp" style=""> Why Choose <br> <span class="logo biru"> zebravan</span>?</h1>
		<div class="row" style="width:100%;padding:4%;padding-top:0%;padding-bottom:0%;">
			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-center wow fadeInUp" style="padding:0%">
				<div class="circle2" style="margin-top: 30px;padding-top:3px">
				<h4 class="regular putih">1 </h4> </div>
			</div>
			<div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 text-left wow fadeInLeft" style="padding:3%;padding-top:20px;padding-left:40px;padding-bottom:0%;">
				<h3 class="medium biru"> Affordable Price </h3> 
				<h4 class="light kecil"> 
				We provide fixed price. No surge.
				</h4> 
			</div>	
		</div>
		<div class="row" style="width:100%;padding:4%;padding-top:0%;padding-bottom:0%;">
			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-center wow fadeInUp" style="padding:0%">
				<div class="circle2" style="margin-top: 10px;padding-top:3px">
				<h4 class="regular putih">2 </h4> </div>
			</div>
			<div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 text-left wow fadeInLeft" style="padding:3%;padding-top:0px;padding-left:40px;padding-bottom:0%;">
				<h3 class="medium biru"> Guaranteed Seat </h3> 
				<h4 class="light kecil"> 
				You always get a seat when you ride with Zebravan. 
				</h4> 
			</div>	
		</div>
		<div class="row" style="width:100%;padding:4%;padding-top:0%;padding-bottom:0%;">
			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-center wow fadeInUp" style="padding:0%">
				<div class="circle2" style="margin-top: 10px;padding-top:3px">
				<h4 class="regular putih">3 </h4> </div>
			</div>
			<div class="col-xs-10 col-sm-11 col-md-11 col-lg-11 text-left wow fadeInLeft" style="padding:3%;padding-top:0px;padding-left:40px;padding-bottom:0%;">
				<h3 class="medium biru"> Van Position Tracking</h3> 
				<h4 class="light kecil"> 
				You can track our van from the browser or app.  
				</h4> 
			</div>	
		</div>
	</div>
	<div class="hidden-xs hidden-sm">
		<div class="col-sm-6 col-md-6 col-lg-6 kolomkanan wow fadeIn" style="padding-top:25%;">
			<div class="col-lg-3 kotak wow fadeInUp"></div>
			<img src="/assets/img/bg/ini.png" style="width:100%;">
		</div>
	</div>	
</div>

<div class="container-fluid text-center" id="grad" style="padding:12%;padding-top:7%;">
	<h1 class="superjumbo putih thin wow fadeInUp" style=""> Available Routes</h1>
	<!-- loops start here -->
	<#if routeList??>
		<#list routeList as route>
			<div class="row" style="padding:3%;padding-top:6%;padding-bottom:2%;">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padbawah2 bgputih">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding:0%;">
						<img src="/assets/img/bg/editan3.jpg" style="width:100%;">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding:0%;padding-bottom:0%;">
						<div class="row" style="padding:0%;">
							<div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 text-left" style="padding:1%;padding-left:10%;padding-bottom:0%">
								<h2 class="medium kecilspesial" id="judul1"> ${route.name}</h2> 
							</div>
							<!-- <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 text-right" style="padding-top:4.5%;padding-right:10%;padding-bottom:0%">
								<button class="btn-biru2" style="width: 120px;height:35px;border:1px solid #E0E0E0" id="balik1"> 
								<i class="fa fa-arrows-h" aria-hidden="true" style="padding-right:2px;"></i>
								Reverse </button>
							</div> -->
						</div>
						<div class="row">
							<div class="col-xs-11 col-sm-8 col-md-8 col-lg-8 text-left" style="padding:1%;padding-left:10%;padding-top:0%;">
								<h5 class="regular kecil2" id="ket1">${(route.fromdisplay!'')} 
								<#if route.routePoint?? && (route.routePoint?size > 0)>
									<#list route.routePoint as routePoint>
										<i class="fa fa-long-arrow-right" aria-hidden="true"></i>${(routePoint.locDisplay!'')}
										${routePoint.locName!''}
									</#list>
								</#if>${(route.todisplay!'')}</h5>
								<!-- <h5 class="regular kecil2" id="ket2">Departing at $(route.triptime)</h5>  -->
							</div>
						</div>
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-12 text-right padright">
								<a href="fixed_route.html"><button class="btn-biru lebarbtn" style="height:35px;border:1px solid #EEEEEE"> 
								Select Route </button></a>
							</div>
					</div>
				</div>
			</div>
		</#list>
	<#else>
		List Routes is Empty
	</#if>
	<!-- loop ends here -->
</div>


<div class="col-xs-12 col-lg-12 bg text-center" style="padding-top:6%;padding-bottom: 5%">
	<h1 class="superjumbo putih thin text-center"> Didn't Find Your Route?</h1>
	<div class="row text-center" style="width: 100%;margin:auto">
	<p class="putih light" style="margin-top: 30px;"> 
		Let us know your preferred route by clicking the button below below. We'll let you know when the route is live. 
	</p>
	<button class="btn-putihin" style="margin-top: 10px;width: 155px;" data-toggle="modal" data-target="#requestrute"> Suggest new route </button>
	</div>
</div>

<footer class="footer">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2" style="padding:0%;">
		<h4 class="putih regular foot">Find Route</h4>
		<h4 class="putih regular foot" style="padding-top:7%">Booking List</h4>
		<h4 class="putih regular foot" style="padding-top:7%">About Us</h4>
		<h4 class="putih regular foot" style="padding-top:7%">Login</h4>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3" style="padding:0%;">
		<h4 class="putih regular foot">FAQ</h4>
		<h4 class="putih light foot" style="padding-top:5%">How to Book Route</h4>
		<h4 class="putih light foot" style="padding-top:5%">Payment Route</h4>
		<h4 class="putih light foot" style="padding-top:5%">How to Cancel Booking</h4>
		<h4 class="putih light foot" style="padding-top:5%">See All Questions</h4>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-7">
		<h4 class="putih regular foot" style="padding-bottom:2%;">Contact Us</h4>
			<h4 class="putih light foot" style="padding-bottom:2%;">
			<span><i class="fa fa-facebook fa-lg putih foot" aria-hidden="true" style="margin-right: 6.5%;"></i>
			</span>zebravan
			</h4>
			
			<h4 class="putih light foot" style="padding-bottom:2%;">
			<span><i class="fa fa-google-plus fa-lg putih foot" aria-hidden="true" style="margin-right: 4%;"></i>
			</span>zebravan
			</h4>
			
			<h4 class="putih light foot">
			<span><i class="fa fa-twitter fa-lg putih foot" aria-hidden="true" style="margin-right: 5.5%;"></i>
			</span>zebravan
			</h4>
	</div>
</footer>


<!-- Modal -->
<div id="requestrute" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:100px">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Request Rute</h4>
      </div>
      <div class="modal-body">
        <div class="row" style="width:100%">
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">Name </h5>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
				<input id="name" type="text" class="form-control" name="name" placeholder="Your name">
			</div>
		</div>
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">E-mail </h5>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
				<input id="email" type="text" class="form-control" name="email" placeholder="Your e-mail">
			</div>
		</div>
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">Phone Number </h5>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
				<input id="phonenum" type="text" class="form-control" name="phonenum" placeholder="Phone Number">
			</div>
		</div>
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">Departure Point</h5>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
				<input id="depart" type="text" class="form-control" name="depart" placeholder="Start the route from here">
			</div>
		</div>
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">Arriving Point</h5>
			</div>
			<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
				<input id="arriving" type="text" class="form-control" name="arriving" placeholder="End the route">
			</div>
		</div>
      </div>
      <div class="modal-footer">
		 <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius:0px">Close</button>
		 <button class="btn-hitam2" style="width: 130px;height: 35px;"> Submit </button>
       
      </div>
    </div>

  </div>
</div>

</@layout.myLayout>

<script type="text/javascript" src="/assets/js/jquery.form.js"></script>
<script type="text/javascript" src="/assets/js/contact_me.js"></script>
<script type="text/javascript" src="/assets/js/owl-carousel/owl.carousel.js"></script>

<link rel="stylesheet" href="/assets/webjars/wowjs/1.1.2/css/libs/animate.css">
<script src="/assets/webjars/wowjs/1.1.2/dist/wow.min.js"></script>

<script>
new WOW().init();

flatpickr(".flatpickr", {
	minDate: new Date(), // "today" / "2016-12-20" / 1477673788975
	maxDate: "2100-03-20",
	disable: [
        function (date) {
            return date.getDay() === 0 || date.getDay() === 6; // disable weekends
        }
    ],
	
});

$(document).ready(function() {
	var selectBox = document.getElementById("peta");
	selectBox.onchange = function(){
		var angka = selectBox.options[selectBox.selectedIndex].value;
		console.log(angka);
		var ubah = parseInt(angka);
		//console.log(ubah);
		if(ubah==1)
		{
			 $("#ilustrasi2").fadeOut();
			 $("#opsi2").fadeOut();
			 setTimeout(function () {
				$("#ilustrasi1").fadeIn();
				$("#opsi1").fadeIn();
			 }, 500);
		}
		else
		{
			 $("#ilustrasi1").fadeOut();
			 $("#opsi1").fadeOut();
			 setTimeout(function () {
				 $("#ilustrasi2").fadeIn();
				$("#opsi2").fadeIn();
			 }, 500);	
		}
	};
});


function pass(a) {
    console.log(a);
	if(a==1)
	{
		var point = "Monas";
	}
	else if(a==2)
	{
		var point = "Jatibening";
	}
	else if(a==3)
	{
		var point = "Jatinegara";
	}
	document.getElementById("pergi").innerHTML = point;
	document.getElementById("pergi2").innerHTML = point;
}

/*$(document).ready(function() {
	var owl = $("#owl-route"),
    i = 0,
    textholder,
    booleanValue = false;
	//init carousel
	owl.owlCarousel({
		autoPlay: 3000,
		item:4,
		stopOnHover:true,
		lazyLoad:true,
		itemsDesktop : [2000,4],
		itemsDesktopSmall : [979,3]
		});

	//$("#owl-route").owlCarousel();
});
*/
</script>
