.container-fab {
  margin-top: -20px;
  padding-right: 10px;
}

.fab {
  margin-top: -11px;
}

.fab-primary {
    transition: all $duration $timing-function;
}

.fab-secondary {
  margin-left: -50px;
  transition: all $duration $timing-function;
  opacity: 0;
  transform: rotate(-225deg);
}

.active {
  .fab-primary {
      opacity: 0;
      transform: rotate(225deg);
  }
  .fab-secondary {
      opacity: 1;
      transform: rotate(0);
  }
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}


.btn-sq {
  width: 100px !important;
  height: 100px !important;
}

.btn-black {
	background-color:black;
	color:white;
	font-weight:bold;
	width:80%;
	margin: 0 auto;
	
	&:hover{
		background-color:gray;
		color:white;
	}
}

#save {
	margin-bottom:30px;
}
