/* probably wont use carousel */
.carousel {
  margin-bottom: 60px;

  .item img {
    width: 100%;
    height: auto;
  }
  .carousel-control {
  	z-index:10;
  }
  @media screen and (max-width: 767px){
  		max-height: 250px;
  }
}

.carousel-caption {
    position: absolute;

	@media only screen and (min-width: 320px){
	}

	@media only screen and (min-width : 480px) {
    }

    @media only screen and (min-width : 768px) {
    	top: 70%;
	}

    @media only screen and (min-width : 992px) {
    	top: 55%;
	}

    @media only screen and (min-width : 1200px) {
    	top: 40%;
	}

    h3 {
		font-weight:bold;
    	font-size: 2.5vw;
		font-family:$base-font-family;
    }
    p{
    	font-size: 1.5vw;
    	font-weight:bold;
    }
}