/* Navbar */

.navbar.navbar, .navbar-default {
    background-color: $navbar-color;
    color: rgba(255,255,255,.84);
}

.navbar-default {

	.navbar-nav>li>a {
		color:$font-white;
		font-weight:bold;
	}
	.navbar-nav>li>a:hover {
		color:$primary-color;
	}
}

nav.navbar{
  // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

div.navbar a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
}
.navbar-brand {
  background: url(/assets/img/navbar-logo.png) center / contain no-repeat;
  width: 140px;
}

.navbar-default { 
	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
		background-color:white;
	}
}

div.navbar.shrink {
	min-height: 40px;
	max-height: 40px;

	a {
	  padding-top: 10px !important;
	  padding-bottom: 10px !important;
	  font-size: 15px;
	}
	
	.navbar-brand {
	  height:40px;
	}
	.navbar-toggle {
		padding: 4px 5px;
		margin: 8px 15px 8px 0;
	}
}