.panel-heading-sm {
	padding: 4px 10px;
}

.panel-body-sm{
	padding:1px;
	
	h4 {
		margin: 0px;
	}
	
	p {
		margin: 0px;
	}
}

.calendar-panel{
	width:100px;
}

.panel-footer .text-small {
	font-size: 1.0vw;
}