/* Font Colors */

$base-font-size:14px;
$base-font-family:"Lato", sans-serif;
$base-font-color:#666666;

$font-white:#ffffff;


/* Background Colors */

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;
$navbar-color:#030013;

$gray-color:#666;
$yellow-color:#ffd319;

/* Button animation */
$duration: 0.35s;
$timing-function: ease-in-out;
