<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<h1>Category List</h1>
				<div id="tree"></div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
	function getTree() {
		// Some logic to retrieve, or generate tree structure
		var data = [ {
			text : "Parent 1",
			nodes : [ {
				text : "Child 1",
				nodes : [ {
					text : "Grandchild 1"
				}, {
					text : "Grandchild 2"
				} ]
			}, {
				text : "Child 2"
			} ]
		}, {
			text : "Parent 2"
		}, {
			text : "Parent 3"
		}, {
			text : "Parent 4"
		}, {
			text : "Parent 5"
		} ];
		return data;
	}
	
	$('#tree').treeview({
		data : getTree()
	});
</script>
</@layout.adminLayout>
