<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Daily Schedule List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/schedule">Daily Schedule</a></li>
				</ul>
				<h1 class="page-header">Daily Schedule List</h1>
				<div class="table-responsive">
					<table id="mytable" class="table table-bordred table-striped table-hover">
						<thead>
							<th>Route Code = Name</th>
							<th>Date</th>
							<th>Time</th>
							<th>MAX</th>
							<th>Booked</th>
							<th>Allocated</th>
							<th>Handled</th>
						</thead>
						<tbody>
							<#if entityList?? && (entityList?size > 0)>
								<#list entityList>
									<#items as entity>
									<tr class="clickable-row" data-href="/admin/schedule/${(entity[1]!'')}">
										<td>${(entity[2]!'')}</td>
										<td>${(entity[3]!'')}</td>
										<td>${(entity[4]!'')}</td>
										<td class="td-number">${(entity[5]!'')}</td>
										<td class="td-number">${(entity[6]!'')}</td>
										<td class="td-number">${(entity[7]!'')}</td>
										<td class="td-number">${(entity[8]!'')}</td>
									</tr>
									</#items>
								</#list>
							<#else>
								<tr><td colspan="7" align="center">List is empty</td></tr>
							</#if>
						</tbody>

					</table>
				</div><!-- / .table-responsive -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
$(function() {
	$(".clickable-row").click(function() {
    window.document.location = $(this).data("href");
    });
});
</script>

</@layout.adminLayout>
