<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Daily Trip List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/dailytrip">Daily Trip</a></li>
				</ul>
				<h1 class="page-header">Daily Trip List</h1>
				<div class="table-responsive">
					<table id="mytable" class="table table-bordred table-striped table-hover">
						<thead>
							<th>Date</th>
							<th>Route Name</th>
							<th>Time</th>
							<th>Booking</th>
							<th>Allocate</th>
							<th>Capacity</th>
							<th>Action</th>
						</thead>
						<tbody>
							<#if entityList?? && (entityList?size > 0)>
								<#list entityList as entity>
									<tr>
										<td><#noescape>${(entity.tripdate! ' ')}</#noescape></td>
										<td><#noescape>${(entity.zebRoute.name!' ')}</#noescape></td>
										<td><#noescape>${(entity.triptime! ' ')}</#noescape></td>
										<td><#noescape>${(entity.bookedCnt!' ')}</#noescape></td>
										<td><#noescape>${(entity.allocatedCnt! ' ')}</#noescape></td>
										<td><#noescape>${(entity.allocation! ' ')}</#noescape></td>
										<td><button class="btn btn-xs btn-primary" onclick="edit(${entity.id})">
											<i class="fa fa-pencil"></i> Edit</button></td>
									</tr>
								</#list>
							<#else>
								<tr><td colspan="7" align="center">List is empty</td></tr>
							</#if>
						</tbody>

					</table>
				</div><!-- / .table-responsive -->
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
$(function() {
	$(".clickable-row").click(function() {
    window.document.location = $(this).data("href");
    });
});
</script>

</@layout.adminLayout>
