<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin">



<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<h1>Lookup List</h1>
				<div class="table-responsive">


					<table id="mytable" class="table table-bordred table-striped">

						<thead>

							<th>Code</th>
							<th>Name</th>
							<th>Description</th>
							<th>Edit</th>
							<th>Active</th>
						</thead>
						<tbody>
							<#if listLookup?has_content>
								<#list listLookup as item>
									<tr>
										<td><#noescape>${item.code}</#noescape></td>
										<td><#noescape>${item.name}</#noescape></td>
										<td><#noescape>${item.description}</#noescape></td>
										<td>
											<p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button class="btn btn-primary btn-xs" onclick="prepareUpdate(<#noescape>${item.id}</#noescape>,'<#noescape>${item.code}</#noescape>','<#noescape>${item.name}</#noescape>','<#noescape>${item.description}</#noescape>','<#noescape>${item.use_yn}</#noescape>')" data-title="Edit"
													data-toggle="modal" data-target="#edit">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p>
										</td>
										<td>
											<p data-placement="top" data-toggle="tooltip" title="Delete">
												<div class="radio">
														<#if item.use_yn??>
														   <#if item.use_yn == "Y">
															 <label>Yes</label>
															<#else>
														  	 <label>No</label>
															</#if>
														</#if>
														
													  
												</div>
											</p>
											<!-- <p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs"  	onclick="prepareDelete(<#noescape>${item.id}</#noescape>)"  data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p> -->
										</td>
									</tr>
								</#list>
								
								
								<#else>
									<tr>
										<td colspan="6" style="text-align: center; ">List Lookup is empty</td>
									</tr>
							</#if>
						</tbody>

					</table>
					
					<button class="btn btn-primary btn-xs" data-target="#add" data-toggle="modal" data-title="Add">
					<span class="glyphicon glyphicon-pencil">Add</span>
					</button>
					
				 

					<div class="clearfix"></div>
					
					<#if listLookupGroup?has_content>
					<ul class="pagination pull-right">
						<li class="disabled"><a href="#"><span
								class="glyphicon glyphicon-chevron-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><span
								class="glyphicon glyphicon-chevron-right"></span></a></li>
					</ul>
					<#else>
						
					</#if>
				</div>

			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		
			<form action="/admin/addLookup" method="post" role="form">
			<div class="modal fade" id="add" tabindex="-1" role="dialog"
			aria-labelledby="add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="Heading">Add Lookup Group</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control " id="addCode" name="code" type="text" placeholder="Code">
						</div>
						<div class="form-group">
							<input class="form-control " id="addName" name="name" type="text" placeholder="Name">
						</div>
						<div class="form-group">
							<textarea rows="2" name="description" class="form-control"
								placeholder="Description"></textarea>
						</div>
					</div>
					<div class="modal-footer ">
						<button type="submit" class="btn btn-warning btn-lg"
							style="width: 100%;">
							<span class="glyphicon glyphicon-ok-sign"></span> Add
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		</form>
		
		<form action="/admin/updateLookup" method="post" id="updateLookupGroup" role="form">
		<div class="modal fade" id="edit" tabindex="-1" role="dialog"
			aria-labelledby="edit" aria-hidden="true">
			<input type="hidden" name="id" class="id" id="id" value=""/>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="Heading">Edit Your
							Detail</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control " type="text" name="code" placeholder="Code">
						</div>
						<div class="form-group">
							<input class="form-control " type="text" name="name" placeholder="Name">
						</div>
						<div class="form-group">
							<textarea rows="2" class="form-control" name="description" placeholder="Description"></textarea>
						</div>
						<div class="form-group">
							<label class="radio-inline"><input id="Y" type="radio" value="Y" name="useYN">Yes</label>
							<label class="radio-inline"><input id="N" type="radio" value="N" name="useYN">No</label>
						</div>
					</div>
					<div class="modal-footer ">
						<button type="submit" class="btn btn-warning btn-lg"
							style="width: 100%;">
							<span class="glyphicon glyphicon-ok-sign"></span> Update
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		</form>


		<form action="/admin/deleteLookup" method="post" id="deleteLookup" role="form">
		<input type="hidden" name="id" class="id" id="id" value=""/>
		<div class="modal fade" id="delete" tabindex="-1" role="dialog"
			aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="Heading">Delete this
							entry</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-warning-sign"></span> Are you
							sure you want to delete this Record?
						</div>

					</div>
					<div class="modal-footer ">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok-sign"></span> Yes
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> No
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			</form>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- /.container-fluid -->
</div>

<script type="text/javascript">

function prepareUpdate(id,code,name,desc,useYN){
	$('#updateLookupGroup').find('[name=id]').val(id);
	$('#updateLookupGroup').find('[name=code]').val(code);
	$('#updateLookupGroup').find('[name=name]').val(name);
	$('#updateLookupGroup').find('[name=description]').val(desc);
	
	if(useYN == "Y"){
		$('#Y').prop( "checked", true );
	}else{
		$('#N').prop( "checked", true );
	}
	
}

var prepareId = [];
function prepareDelete(id){
	prepareId =[];
	$('.id').remove();
	prepareId.push(id);
	deleteLookupById(prepareId);
}
function deleteLookupById(id){
	if(id.length>0){
	for(var i = 0; i < id.length; i++)
		$('#deleteLookup').prepend('<input type="hidden" name="id" class="id" id="id" value="'+id[i]+'"/>')
	}else{
		return false;
	}
}
function deleteTick(){
	prepareId = [];
	$('.id').remove();
	if($('.checkthis').is(':checked')){
		$('.checkthis:checked').each(function(){console.log(prepareId.push($(this).val()))});
		deleteLookupById(prepareId);
	}
}

window.onload = function ()
{   
   
}



</script>
<!-- /#page-wrapper -->

</@layout.adminLayout>
