<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin">
<!-- Data picker pikaday -->
<link href="/assets/css/vendor/pikaday.css" rel="stylesheet">
<script src="/assets/js/pikaday.js"></script>

<style>
.file-preview {
	border-radius: 5px;
	border: 2px solid #ddd;
	padding: 5px;
	width: 43%;
	margin-bottom: 5px;
}

.file-preview img {
	cursor: pointer;
}

.file-thumbnail-footer {
	position: relative;
}

.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin: 5px auto 10px auto;
}

.file-actions, .file-other-error {
    text-align: left;
}

.file-footer-buttons {
    float: right;
}

.file-upload-indicator {
    padding-top: 2px;
    cursor: default;
    opacity: 0.8;
    width: 60%;
}

.file-upload-indicator:hover {
    font-weight: bold;
    opacity: 1;
}

</style>


<link href="/assets/webjars/font-awesome/4.5.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
	
<script>

	//combo gender
	function combo(thelist, theinput) {
		theinput = document.getElementById(theinput);
		var a = thelist.value;
		theinput.value = a;
	}
	
	 
	$(document).ready(function() {
		
		var picker = new Pikaday({
			field : document.getElementById('birthdate1'),
			format : 'dd/mm/yyyy',
			onSelect : function() {
				/// console.log(this.getMoment().format('Do MMMM YYYY'));
			}
		});
		
		$("#img-inp").change(function() {
			readImgUrl(this);
		});

		function readImgUrl(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#img-view').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
				
				var element = "";
			
				element += '<div class="file-footer-buttons">';
				element += '<button class="fa fa-upload" type="submit" title="Upload file" type="button"></button>';
				element += '<button class="fa fa-trash-o" onclick="alert(\'Remove\');" title="Remove file" type="button"></button>';
				element += '</div>';
				element += '<div class="file-upload-indicator" title="Not uploaded yet">';
				element += '<div class="fa fa-hand-o-right fa-rotate-90"></div>';
				element += '</div>';
				
				$('.file-actions').html(element);
			}
		}
	});
	
</script>
	
<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/member">Member</a></li>
				</ul>
				<h1>Member Detail</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div id="kv-avatar-errors" class="center-block"
						style="width: 800px; display: none"></div>
		</div>
		<div class="row">
			<form action="/admin/member/${(member.id)}" method="post" class="" enctype="multipart/form-data">
			
				<div class="col-md-4 ">
					<div class="file-preview center-block">
					    <label for="img-inp" class="" style="margin-bottom: 0%; margin-top: 3%; margin-right: 3%; margin-left: 3%">
					    	<#if member.imagepath?has_content>
					    	<img id="img-view" class="img-responsive" src="/assets/${(member.imagepath!" ")}""/>
							<#else>
							<img id="img-view" class="img-responsive" src="http://goo.gl/pB9rpQ"/>
							</#if>
					        
					    </label>
					    <input hidden="hidden" id="id" name="id" value="${(member.id!" ")}" type="text" />
					    <input id="img-inp" name="imagePath" type="file" style="display: none;"/>
					    <div class="file-actions"> </div>
						<!-- <div class="file-thumbnail-footer">
							<div class="file-thumb-progress">
								<div class="file-actions">
									<div class="file-footer-buttons">
										<button class="fa fa-upload" title="Upload file" type="button"></button> 
										<button class="fa fa-trash-o" title="Remove file" type="button"></button>
									</div>
									<div class="file-upload-indicator" title="Not uploaded yet">
										<div class="fa fa-hand-o-right fa-rotate-90"></div>
									</div>
								</div>
							</div>
						</div> -->
					</div> 
				</div>
	
				<div class="col-md-8">
					<div class="tabbable" id="tabs-member">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#panel-profile" data-toggle="tab">Profile</a></li>
							<li><a href="#panel-social-media" data-toggle="tab">Social Media</a></li>
							<li><a href="#panel-address" data-toggle="tab">Address</a></li>
							<li><a href="#panel-contact" data-toggle="tab">Contact</a></li>
						</ul>
						
							<div class="tab-content">
								<div class="tab-pane active" id="panel-profile">
	
									<div class="form-group">
										<label for="fullname"> Full Name </label> 
										<input class="form-control" id="fullname" name="fullname"
											value="${(member.fullname!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="firstname"> First Name </label> 
										<input class="form-control" id="firstname" name="firstname"
											value="${(member.firstname!" ")}" type="text" />
									</div>
									<div class="form-group">
										<label for="lastname"> Last Name </label> 
										<input class="form-control" id="lastname" name="lastname"
											value="${(member.lastname!" ")}" type="text" />
									</div>
									<div class="form-group">
	
										<label for="gender"> Gender </label> 
										<input type="text" id="gender" name="gender" value="${(member.gender!" ")}" hidden="hidden" /> 
										<select class="form-control" id="comboGender" onChange="combo(this, 'gender')">
											<#list dropdown["gender"]?keys as groupKey>
												<option value='${(groupKey!" ")}'<#if member.gender?contains(groupKey)> selected</#if>>
													${dropdown["gender"][groupKey]}</option>
											</#list>
										</select>
									</div>
									<div class="form-group">
										<label for="birthdate"> Birth date </label> 
										<input class="form-control" id="birthdate1" name="birthdate1"
											value="${(member.birthdate!" ")}" type="text" />
									</div>
									<!-- <div class="checkbox">
										<label> <input type="checkbox" /> Check me out</label>
									</div> -->
									<!-- <button type="submit" class="btn btn-default">Submit</button> -->
								</div>
								<!-- .#panel-profile -->
	
								<!-- #panel-social-media start -->
								<div class="tab-pane" id="panel-social-media">
									<#list member.socmed as socmed>
										<div class="form-group">
											<label for="socmedno"> Socmed No </label> 
											<input class="form-control" id="socmedno" name="socmedno"
												value="${(socmed.socmedno!'')}" type="text" />
										</div>
										<div class="form-group">
											<label for="resfield1"> resfield1 </label> 
											<input class="form-control" id="resfield1" name="resfield1"
												value="${(socmed.resfield1!'')}" type="text" />
										</div>
										<div class="form-group">
											<label for="resfield2"> resfield2 </label> 
											<input class="form-control" id="resfield2" name="resfield2"
												value="${(socmed.resfield2!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="resfield3">resfield2</label> 
											<input class="form-control" id="resfield3" name="resfield3"
												value="${(socmed.resfield3!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="resfield4"> resfield4 </label> 
											<input class="form-control" id="resfield4" name="resfield4"
												value="${(socmed.resfield4!" ")}" type="text" />
										</div>
									</#list>
								</div>
								<!-- /#panel-social-media end -->
	
								<!-- #panel-address start -->
								<div class="tab-pane" id="panel-address">
									<#list member.address as address>
										<div class="form-group">
											<label for="address">Address</label> 
											<input class="form-control" id="addressline1" name="addressline1"
												value="${(address.addressline1!" ")}" type="text" /> 
											<input class="form-control" id="addressline2" name="addressline2"
												value="${(address.addressline1!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="district">District</label> 
											<input class="form-control" id="district" name="district"
												value="${(address.district!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="city">City</label> 
											<input class="form-control" id="city" name="city" 
											value="${(address.city!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="province">Province</label> 
											<input class="form-control" id="province" name="province"
												value="${(address.province!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="country">Country</label> 
											<input class="form-control" id="country" name="country"
												value="${(address.country!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="postcode">Post Code</label> 
											<input class="form-control" id="postcode" name="postcode"
												value="${(address.postcode!" ")}" type="text" />
										</div>
									</#list>
								</div>
								<!-- #panel-address end -->
	
								<!-- #panel-contact start -->
								<div class="tab-pane" id="panel-contact">
									<#list member.contact as contact>
										<div class="form-group">
											<label for="contacttype">Contact Type</label> <input
												class="form-control" id="contacttype" name="contacttype"
												value="${(contact.contacttype!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="detail"> Detail </label> <input
												class="form-control" id="detail" name="detail"
												value="${(contact.detail!" ")}" type="text" />
										</div>
										<div class="form-group">
											<label for="channel"> Channel </label> <input
												class="form-control" id="channel" name="channel"
												value="${(contact.channel!" ")}" type="text" />
										</div>
									</#list>
								</div>
								<button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span> &nbsp; Save</button>
								<!-- /#panel-contact end -->
	
							</div>
							<!-- /.tab-content -->
						
					</div>
					<!-- /#tabs-member -->
				</div>
				<!-- /.col-md-8 -->
			</form>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</@layout.adminLayout>
