<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/member">Member</a></li>
				</ul>
				<h1>Member List</h1>
				<div class="table-responsive">


					<table id="mytable" class="table table-bordred table-striped">

						<thead>

							<th><input type="checkbox" id="checkall" /></th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Address</th>
							<th>Email</th>
							<th>Contact</th>
							<th>Edit</th>

							<!-- <th>Delete</th> -->
						</thead>
						<tbody>
							<#if listMember??>
								<#list listMember as listMember>
									<tr>
										<td><input type="checkbox" class="checkthis" /></td>
										<td><#noescape>${(listMember.firstname! ' ')}</#noescape></td>
										<td><#noescape>${(listMember.lastname! ' ')}</#noescape></td>
										<td>
											<#list listMember.address as addr>
												<#noescape>${(addr.addressline1!' ')}</#noescape>
											</#list>
										</td>
										<td><#noescape>${(listMember.username!' ')}</#noescape></td>
										<td>
											<#list listMember.contact as contact>
												<#noescape>${(contact.detail!' ')}</#noescape>
											</#list>
										</td>
										<td><p data-placement="top" data-toggle="tooltip"
												title="Edit">
												<button  class="btn btn-primary btn-xs" data-title="Edit"
													data-toggle="modal" data-target="#edit" onclick="detail(<#noescape>${listMember.id}</#noescape>)">
													<span class="glyphicon glyphicon-pencil"></span>
												</button>
											</p></td>
										<!-- <td><p data-placement="top" data-toggle="tooltip"
												title="Delete">
												<button class="btn btn-danger btn-xs" data-title="Delete"
													data-toggle="modal" data-target="#delete">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</p></td> -->
									</tr>
								</#list>
							<#else>
								<tr><td colspan="8" align="center">List member is empty</td></tr>
							</#if>
						</tbody>

					</table>
					<#if listMember??>
						<#noescape>${(pagination! ' ')}</#noescape>
					</#if>
					
				</div>

			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<!-- <div class="modal fade" id="edit" tabindex="-1" role="dialog"
			aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="Heading">Edit Your
							Detail</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input class="form-control " type="text" placeholder="Mohsin">
						</div>
						<div class="form-group">

							<input class="form-control " type="text" placeholder="Irshad">
						</div>
						<div class="form-group">
							<textarea rows="2" class="form-control"
								placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


						</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-warning btn-lg"
							style="width: 100%;">
							<span class="glyphicon glyphicon-ok-sign"></span> Update
						</button>
					</div>
				</div>
				/.modal-content
			</div>
			/.modal-dialog
		</div>
 -->


		<div class="modal fade" id="delete" tabindex="-1" role="dialog"
			aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="Heading">Delete this
							entry</h4>
					</div>
					<div class="modal-body">

						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-warning-sign"></span> Are you
							sure you want to delete this Record?
						</div>

					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-ok-sign"></span> Yes
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<span class="glyphicon glyphicon-remove"></span> No
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
function detail(id){
	var domain = document.domain;
	window.location ='/admin/member/'+id;
}

</script>

</@layout.adminLayout>
