<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Route Maker">

<script>
	var map;
	var directionsDisplay;
	var directionsService;
	var stepDisplay;
	var markers = [];

	function initMap() {
		// Instantiate a directions service.
		directionsService = new google.maps.DirectionsService;

		var mapDiv = document.getElementById('map');

		map = new google.maps.Map(mapDiv, {
			center : {
				lat : -6.224136992658102,
				lng : 106.84298515319824
			},
			zoom : 15,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		});

		// Create a renderer for directions and bind it to the map.
		directionsDisplay = new google.maps.DirectionsRenderer({
			map : map
		});

		var rendererOptions = {
			map : map
		}
		directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

		//		google.maps.event.addListener(map, 'click', function(event) {
		//			//map.clear();
		//			placeMarker(event.latLng);
		//		});

		var from = document.getElementById('from');
		var autocomplete_from = new google.maps.places.Autocomplete(from);
		google.maps.event.addListener(autocomplete_from, 'place_changed',
				function() {
					var place = autocomplete_from.getPlace();
					$('#fromLatLng').val(place.geometry.location);
					goForAction(place);
				});

		var to = document.getElementById('to');
		var autocomplete_to = new google.maps.places.Autocomplete(to);
		google.maps.event.addListener(autocomplete_to, 'place_changed',
				function() {
					var place = autocomplete_to.getPlace();
					$('#toLatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc1 = document.getElementById('loc1');
		var autocomplete_loc1 = new google.maps.places.Autocomplete(loc1);
		google.maps.event.addListener(autocomplete_loc1, 'place_changed',
				function() {
					var place = autocomplete_loc1.getPlace();
					$('#loc1LatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc2 = document.getElementById('loc2');
		var autocomplete_loc2 = new google.maps.places.Autocomplete(loc2);
		google.maps.event.addListener(autocomplete_loc2, 'place_changed',
				function() {
					var place = autocomplete_loc2.getPlace();
					$('#loc2LatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc3 = document.getElementById('loc3');
		var autocomplete_loc3 = new google.maps.places.Autocomplete(loc3);
		google.maps.event.addListener(autocomplete_loc3, 'place_changed',
				function() {
					var place = autocomplete_loc3.getPlace();
					$('#loc3LatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc4 = document.getElementById('loc4');
		var autocomplete_loc4 = new google.maps.places.Autocomplete(loc4);
		google.maps.event.addListener(autocomplete_loc4, 'place_changed',
				function() {
					var place = autocomplete_loc4.getPlace();
					$('#loc4LatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc5 = document.getElementById('loc5');
		var autocomplete_loc5 = new google.maps.places.Autocomplete(loc5);
		google.maps.event.addListener(autocomplete_loc5, 'place_changed',
				function() {
					var place = autocomplete_loc5.getPlace();
					$('#loc5LatLng').val(place.geometry.location);
					goForAction(place);
				});

		var loc6 = document.getElementById('loc6');
		var autocomplete_loc6 = new google.maps.places.Autocomplete(loc6);
		google.maps.event.addListener(autocomplete_loc6, 'place_changed',
				function() {
					var place = autocomplete_loc6.getPlace();
					$('#loc6LatLng').val(place.geometry.location);
					goForAction(place);
				});
	}

	function goForAction(place) {
		if ($("#from").val() != '' && $("#to").val() == '') {
			showLocation(place);
		}

		if ($("#to").val() != '' && $("#from").val() == '') {
			showLocation(place);
		}

		if ($("#from").val() != '' && $("#to").val() != '') {
			calculateAndDisplayRoute(directionsService, directionsDisplay);
		}
	} //end goForAction

	/* 	function placeMarker(location) {
	 var marker = new google.maps.Marker({
	 position : location,
	 map : map,
	 draggable : true
	 });

	 var infowindow = new google.maps.InfoWindow({
	 content : 'Lat: ' + location.lat() + '<br>Lng: ' + location.lng()
	 + '<br>close this window, also remove the pin.'
	 });

	 document.getElementById('lat').value = location.lat();
	 document.getElementById('lng').value = location.lng();

	 marker.addListener('drag', function(event) {
	 document.getElementById('lat').value = event.latLng.lat();
	 document.getElementById('lng').value = event.latLng.lng();
	 });

	 marker.addListener('dragend', function(event) {
	 document.getElementById('lat').value = event.latLng.lat();
	 document.getElementById('lng').value = event.latLng.lng();
	 });

	 marker.addListener('click', function() {
	 infowindow.open(map, marker);
	 });

	 infowindow.addListener('closeclick', function() {
	 marker.setMap(null);
	 });

	 } */
</script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5FFKx65GYMHFl4nmPfGx2hg2zfszlw0g&libraries=places&callback=initMap"
	type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$(window).keydown(function(event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				return false;
			}
		});

		$('[data-toggle="tooltip"]').tooltip();

		$('.form-group.input-group.add-on').hide();

	}); //end function
</script>

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<form id="formRoute" role="form" action="/admin/pinmarker" method="post">
				<input type="hidden" name="fromLatLng" id="fromLatLng" value="${(zebroute.fromLatLng!'')}">
				<input type="hidden" name="toLatLng" id="toLatLng" value="${(zebroute.toLatLng!'')}">
				<input type="hidden" name="loc1LatLng" id="loc1LatLng" value="${(zebroute.loc1LatLng!'')}">
				<input type="hidden" name="loc2LatLng" id="loc2LatLng" value="${(zebroute.loc2LatLng!'')}">
				<input type="hidden" name="loc3LatLng" id="loc3LatLng" value="${(zebroute.loc3LatLng!'')}">
				<input type="hidden" name="loc4LatLng" id="loc4LatLng" value="${(zebroute.loc4LatLng!'')}">
				<input type="hidden" name="loc5LatLng" id="loc5LatLng" value="${(zebroute.loc5LatLng!'')}">
				<input type="hidden" name="loc6LatLng" id="loc6LatLng" value="${(zebroute.loc6LatLng!'')}">

				<div class="col-md-12">
					<h1 class="page-header">Route Maker</h1>
				</div>
				<!-- /.col-md-12 -->
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" class="form-control" id="code" name="code" placeholder="Route Code" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Route Short Name" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="from" name="from" placeholder="From (address, city, station, ...)" />
					</div>
					<div class="col-md-12">
						<div class="form-group input-group add-on" id="locAddspan_1">
							<input type="text" class="form-control" id="loc1" name="waypoints" value="" placeholder="Location 1 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
						<div class="form-group input-group add-on" id="locAddspan_2">
							<input type="text" class="form-control" id="loc2" name="waypoints" value="" placeholder="Location 2 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
						<div class="form-group input-group add-on" id="locAddspan_3">
							<input type="text" class="form-control" id="loc3" name="waypoints" value="" placeholder="Location 3 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
						<div class="form-group input-group add-on" id="locAddspan_4">
							<input type="text" class="form-control" id="loc4" name="waypoints" value="" placeholder="Location 4 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
						<div class="form-group input-group add-on" id="locAddspan_5">
							<input type="text" class="form-control" id="loc5" name="waypoints" value="" placeholder="Location 5 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
						<div class="form-group input-group add-on" id="locAddspan_6">
							<input type="text" class="form-control" id="loc6" name="waypoints" value="" placeholder="Location 6 (address, city, station, ...)" />
							<div class="input-group-btn">
								<a href="#" class="btn btn-danger remove_loc" data-toggle="tooltip" data-placement="right" data-original-title="Delete Stopver">
									<i class="fa fa-eraser"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="form-group" style="display: none;" id="stopover">
						<a href="#" class="btn btn-info" data-toggle="tooltip" data-placement="right" data-original-title="Add Stopover" >
							<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
						</a>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="to" name="to" placeholder="To (address, city, station, ...)" />
					</div>

					<div class="form-group">
						<!-- if image not exist, show button -->
						<a href="#" class="btn btn-sq-lg btn-info"><i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i></a>
						<a href="#" class="btn btn-sq-lg btn-info"><i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i></a>
						<a href="#" class="btn btn-sq-lg btn-info"><i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i></a>

						<!-- if image exist, show it 
						<img src="" class="img-responsive" style="width: 100px" alt="Image" id="image" name="image">
						-->

					</div>
					<div class="form-group">
						<textarea class="form-control" rows="5" id="description"
							name="description" placeholder="Marker Description"></textarea>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="price" name="price" placeholder="Price"/>
					</div>
				</div>
				<div class="col-md-6" id="map"></div>
				<!-- /div#map -->

				<div class="col-md-12">
					<br />
					<button id="save" onclick="submit()" class="btn btn-primary btn-lg">
						<span class="fa fa-floppy-o"></span> Save
					</button>
				</div>
				<!-- /.col-md-12 -->
			</form>
		</div>
		<!-- /.row -->

		<script type="text/javascript">
			$('#save').click(function() {
				$('#formRoute').submit();
			});

			var chk_route;

			// Sets the map on all markers in the array.
			function setMapOnAll(map) {
				for (var i = 0; i < markers.length; i++) {
					markers[i].setMap(map);
				}
			}

			// Removes the markers from the map, but keeps them in the array.
			function clearMarkers() {
				setMapOnAll(null);
			}

			// Deletes all markers in the array by removing references to them.
			function deleteMarkers() {
				clearMarkers();
				markers = [];
			}

			function showLocation(place) {
				var marker = new google.maps.Marker({
					position : place.geometry.location,
					map : map
				});
				markers.push(marker);
				map.setCenter(place.geometry.location);
			} // end showLocation

			function calculateAndDisplayRoute(directionsService, directionsDisplay) {
				deleteMarkers();
				var waypts = [];
				var waypointsArray = document.getElementsByName('waypoints');
				for (var i = 0; i < waypointsArray.length; i++) {
					if (waypointsArray[i].value != '') {
						waypts.push({
							location : waypointsArray[i].value,
							stopover : true
						});
					}
				} //end for

				directionsService.route(
				{
					origin : document.getElementById('from').value,
					destination : document
							.getElementById('to').value,
					waypoints : waypts,
					optimizeWaypoints : true,
					travelMode : google.maps.TravelMode.DRIVING
				},
				function(response, status) {
					if (status === google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(response);
						$('#stopover').show();
					} else {
						window.alert('Directions request failed due to ' + status);
					}
				});
			} //calculateAndDisplayRoute
			
			var locationAdd = 0;
		    $('#stopover').click(function(){
		        if(locationAdd <6 && locationAdd >=0)
		        {
		            locationAdd = locationAdd + 1;
		            $('#locAddspan_' + locationAdd).slideDown();
		            $('#locAddspan_' + locationAdd).show();
		        }
		        else{
		            alert("You can't add more than 6 location.");
		        }
		    }); //end stopover click
		    
		    $('.remove_loc').click(function(){
		        var spanName =$(this).closest( "div.input-group").attr('id');
		        var idNo = spanName.split("_");
		        idNo = idNo[1];
		        $('#loc'+idNo).val('');
		        $('#'+spanName).slideUp();
		        $('#remove_loc_'+idNo).slideUp(200);

		        //START Remove location and points AND UPDATE PRICE LIST WITH LOCATION AND MAP
		        $('#loc'+idNo).val('');
		        $('#loc'+idNo+'LatLng').val('');

		        locationAdd = locationAdd - 1;
		        calculateAndDisplayRoute(directionsService, directionsDisplay);
		    }); //end remove_loc
		    
		</script>

		<div class="row"></div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</@layout.adminLayout>
