<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Daily Schedule">
<link href="/assets/css/vendor/pikaday.css" rel="stylesheet">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-md-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/route">Route</a></li>
				</ul>
				<h1>Daily Schedule Arrangement</h1>
			</div>
			<div class="col-md-12">
				<form id="formRoute" class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<label for="zebcode" class="col-md-2 control-label">Route Code</label>
							<div class="col-md-10">
	        					<input type="text" class="form-control" id="zebcode" disabled value="${(zebroute.code!'')}">
	      					</div>
	    				</div>
						<div class="form-group">
							<label for="zebname" class="col-md-2 control-label">Route Name</label>
							<div class="col-md-10">
	        					<input type="text" class="form-control" id="zebname" disabled value="${(zebroute.name!'')}">
	      					</div>
	    				</div>
						<div class="form-group">
							<label for="zebdescription" class="col-md-2 control-label">Description</label>
							<div class="col-md-10">
	        					<input type="text" class="form-control" id="zebdescription" disabled value="${(zebroute.description!'')}">
	      					</div>
	    				</div>
					</fieldset>
				</form>
			</div>
			<!-- date - time - allocation -->
			<div class="col-md-12">
				<form id="formDate" class="form-inline">
				<div class="form-group col-md-4">
			        <div class="controls">
	        		    <div class="input-group">
	                		<input id="tripdateinput" type="text" class="date-picker form-control" />
	                		<label for="tripdateinput" class="input-group-addon btn">
	                			<span class="fa fa-calendar"></span></label>
	            		</div>
			        </div>
	    		</div>
				<div class="form-group col-md-3">
               		<input id="triptimeinput" type="time" min=4 max=23 step=900 class="date-picker form-control" />
				</div>
				<div class="form-group col-md-3">
               		<input id="tripallocinput" type="number" class="date-picker form-control" />
				</div>
				<div class="form-group col-md-2">
					<button id="addRow" class="btn btn-info">
						<span class="fa fa-plus-square"></span> Add Row
					</button>
				</div>
				<input type="hidden" name="selectedDate" id="selectedDate">
				</form>
				<hr/>
			</div>
			
			<div class="col-md-12">
				<form action="/admin/schedule" method="post" class="form-horizontal" role="form" id="formSchedule" name="formSchedule">
				<input type="hidden" id="routeid" name="routeid" value="${(zebroute.id!'')}">
				<table class="table table-striped table-hover" id="scheduleTable">
					<thead>
						<tr>
							<th>Status</th>
							<th>Date</th>
							<th>Time</th>
							<th>Allocation</th>
							<th>Booked</th>
						</tr>
					</thead>
					<tbody>
					<#if dailyScheduleList?? && (dailyScheduleList?size > 0)>
						<#list dailyScheduleList as dailySchedule>
						    <tr>
						      <td>Active</td>
						      <td>${(dailySchedule.tripdate!'')}</td>
						      <td>${(dailySchedule.triptime!'')}</td>
						      <td>${(dailySchedule.allocation!'')}</td>
						      <td>${(dailySchedule.allocation!'')}
						          <input type="hidden" name="status" value="active">
   						          <input type="hidden" name="scheduleid" value="${(dailySchedule.id!'')}">
							      <input type="hidden" name="tripdate" value="${(dailySchedule.tripdate!'')}">
							      <input type="hidden" name="triptime" value="${(dailySchedule.triptime!'')}">
							      <input type="hidden" name="allocation" value="${(dailySchedule.allocation!'')}">
						      </td>
						    </tr>
						</#list>
					<#else>
					</#if>
					</tbody>
				</table> 
				<br />
				<button id="save" type="submit" class="btn btn-primary btn-lg">
					<span class="fa fa-floppy-o"></span> Save
				</button>
				</form>
				<hr/>
			</div><!-- /col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/pikaday.js"></script>

<script type="text/javascript">
	$(function() {
		$(window).keydown(function(event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				return false;
			}
		});

		$('[data-toggle="tooltip"]').tooltip();

		var currentDate = new Date()
		var picker = new Pikaday({
			field: document.getElementById('tripdateinput'),
			position: 'bottom right',
			format: 'DD-MM-YYYY',
	        disableWeekends: true,
	        minDate: new Date(),
	        firstDay: 1,
			onSelect: function() {
				$('#selectedDate').val(this.getMoment().format('DD-MM-YYYY'));
			}
		}); // endPikaday
		
		$('#addRow').click(function(){
			event.preventDefault();
			// get formDate value
			var tripdate = $('#selectedDate').val();
			var triptime = $('#triptimeinput').val();
			var allocation = $('#tripallocinput').val();
		
			$('#scheduleTable > tbody:last-child').append('<tr class="warning"><td>New</td><td>'+tripdate+'</td>'+
					'<td>'+triptime+'</td><td>'+allocation+'</td><td>0'+
					'<input type="hidden" name="shceduleid" value="0"><input type="hidden" name="status" value="new"><input type="hidden" name="tripdate" value="'+tripdate+'">'+
					'<input type="hidden" name="triptime" value="'+triptime+'">'+
					'<input type="hidden" name="allocation" value="'+allocation+'"></td></tr>');
			// append table row table 
		}); //end addRow
		
	}); //end function
</script>
</@layout.adminLayout>
