<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Allocate View">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/driver">Allocate</a></li>
				</ul>
				<h1>Allocate Booked to Van</h1>
				
			</div> <!-- /.col-lg-12 -->
		</div> <!-- /.row page-header -->
		<div class="row">
			<div class="col-lg-12">
				<div class="col-xs-3 text-center calendar-panel">
					<div class="panel panel-primary">
					  <div class="panel-heading panel-heading-sm">
					    <h3 class="panel-title">${schedule.tripdate?string('EEE')}</h3>
					  </div>
					  <div class="panel-body panel-body-sm">
					    <h4>${schedule.tripdate?string('dd')}</h4>
					    <p>${schedule.tripdate?string('MMM')}</p>
					  </div>
					</div>
				</div>
				<div class="col-xs-8">
					<h3>${schedule.zebRoute.code} - ${schedule.zebRoute.name}</h3>
					<h4>${schedule.triptime} / ${schedule.scheduleType}</h4> 
				</div>
			</div> <!-- /.col-lg-12 -->
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-xs-6" id="vangroup">
				<#if vanList?? && (vanList?size > 0)>
					<#list vanList as entity>
					<div class="panel panel-default">
						<div class="panel-heading">
					  		${(entity.driverName!' ')} - ${(entity.plateNo! ' ')}</br>
							${(entity.make!' ')} / ${(entity.model! ' ')} / ${(entity.color! ' ')}
					 	</div>
					 	<div class="panel-body" id="van-${entity.id}" data-van="${entity.id}" data-driver="${entity.driverId}" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:300px">
							<#if entity.booktrips?? && (entity.booktrips?size > 0)>
								<#list entity.booktrips as booktrip>
									<div id="booked-van-${entity.id}-booktrip-${booktrip.id}" data-booktrip="${booktrip.id}" class="booktrip" draggable="true" ondragstart="drag(event)">${(booktrip.member.username! ' ')}
										<input type="hidden" name="booked" value="${booktrip.id}" />
									</div>
								</#list>
							</#if>
					 	</div>
					</div>
					</#list>
				</#if>
			</div><!-- / .col-xs-6 -->
			
			<div class="col-xs-6" id="booking">
					<div class="panel panel-default">
						<div class="panel-heading">Booking List</div>
					 	<div class="panel-body" id="booking-list" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:300px">
							<#if bookList?? && (bookList?size > 0)>
								<#list bookList as entity>
									<div id="booktrip-${entity.id}" data-booktrip="${entity.id}" class="booktrip" draggable="true" ondragstart="drag(event)">${(entity.member.username! ' ')}
										<input type="hidden" name="booked" value="${entity.id}" />
									</div>
								</#list>
							</#if>
					 	</div>
					</div>

			</div><!-- ./col-xs-6 -->
		</div><!-- ./row -->
		<div class="row">
			<div class="col-md-12">
			<form id="booktripform" role="form" action="/admin/allocate" method="post">
				<input type="hidden" name="tripId" value="${schedule.id}"/>
				<button id="save" onclick="setbook()" class="btn btn-primary btn-lg">
					<span class="fa fa-floppy-o"></span> Save
				</button>
			</form>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div> <!-- /.container-fluid -->
</div> <!-- /#page-wrapper -->
<script type="text/javascript">
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

function setbook() {
	$("div[id^='van-']").each(function () {
		//var van_id = $(this).attr('id');
		var van_id = $(this).data('van');
		var driver_id = $(this).data('driver');
		$(this).children("div").each(function (){
			if ($(this).attr('id').indexOf(van_id) >= 0) {
				//alert("no need to change : " + $(this).attr('id'));
			} else {
				var valueStr = $(this).data('booktrip') + "|" + van_id + "|" + driver_id;
				$('<input>').attr({
				    type: 'hidden',
				    name: 'allocated',
				    value : valueStr
				}).appendTo('#booktripform');
			}
		});
	});
	
	$("div#booking-list").children("div").each(function () {
		if ($(this).attr('id').indexOf("van-") >= 0) {
			var valueStr = $(this).data('booktrip');
			//create form element for this booktrip with zebvan_id=null, status=Booked
			$('<input>').attr({
			    type: 'hidden',
			    name: 'booked',
			    value : valueStr
			}).appendTo('#booktripform');
		}
	});
	$('#booktripform').submit();
} //end submit
</script>

</@layout.adminLayout>
