<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan - Driver Ride List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-sm-offset-2 col-sm-8">
				<h1>Your Ride List</h1>
				<#if tripList??>
					<#list tripList as trip>
						<div class="panel <#if trip.status == 'Allocated'>panel-danger<#else>panel-warning</#if>">
				        	<div class="panel-heading">
				            	<h4 class="panel-title"> <i class="fa fa-road"></i> ${(trip.dailySchedule.zebRoute.code! ' ')} (${(trip.dailySchedule.zebRoute.name! ' ')})</h4>
				            </div>
			                <div class="panel-body">
				                <div class="col-sm-12">
									<div class="col-xs-3 text-center calendar-panel">
										<div class="panel panel-primary">
						  					<div class="panel-heading panel-heading-sm">
						    					<h3 class="panel-title">${trip.dailySchedule.tripdate?string('EEE')}</h3>
						  					</div>
						  					<div class="panel-body panel-body-sm">
						    					<h4>${trip.dailySchedule.tripdate?string('dd')}</h4>
						    					<p>${trip.dailySchedule.tripdate?string('MMM')}</p>
						  					</div>
										</div>
									</div>
									<div class="col-xs-10">
										<p><i class="fa fa-chevron-circle-right"></i> ${trip.dailySchedule.zebRoute.description}</p>
										<p><i class="fa fa-clock-o" aria-hidden="true"></i> ${trip.dailySchedule.triptime?string.short}</p>
										<p><i class="fa fa-stop-circle" aria-hidden="true"></i> ${(trip.pickup!'')}</p>
									</div>
									<div class="col-xs-2 text-center">
									</div>
								</div> <!-- /.col-sm-12 -->
			                </div><!-- /.panel-body -->
			                <div class="panel-footer btn-group btn-group-justified">
								<a href="/ride/${trip.dailySchedule.id}" class="btn btn-danger"><i class="fa fa-play" aria-hidden="true"></i> Start Trip</a>
								<a href="#" class="btn btn-default" style="margin-top:10px"  data-title="Stop"
												data-toggle="modal" data-target="#stop"
												data-trip-id="${trip.id}" 
												data-schedule-id="${trip.dailySchedule.id}" 
												data-route-name="${trip.dailySchedule.zebRoute.name}"
												data-route-desc="${trip.dailySchedule.zebRoute.description}"
												data-pickup-loc="${(trip.pickup!'')}"  
												data-trip-date="${trip.dailySchedule.tripdate?string}" 
												data-trip-time="${trip.dailySchedule.triptime?string}"><i class="fa fa-stop" aria-hidden="true"></i> End Trip</a>
							</div> <!-- /.panel-footer -->
				        </div> <!-- /.panel -->
					</#list>
				<#else>
					Your ride list is Empty
				</#if>
			</div><!-- /.col-md-12 -->

			<form action="/ride/endtrip" method="post" id="endTrip" role="form">
			<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
				<input type="hidden" name="idBooked" class="id" id="idBooked" value=""/>
				<input type="hidden" name="routeNameBooked" id="routeNameBooked" value=""/>
				<input type="hidden" name="routeDescBooked" id="routeDescBooked" value=""/>
				<input type="hidden" name="dateBooked" id="dateBooked" value=""/>
				<input type="hidden" name="timeBooked" id="timeBooked" value=""/>
				<input type="hidden" name="pickupBooked" id="pickupBooked" value=""/>
								
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<span class="fa fa-times" aria-hidden="true"></span>
							</button>
							<h4 class="modal-title custom_align" id="Heading">End your Trip?</h4>
						</div>
						<div class="modal-body">
							<p>Are you sure want to end your trip : <span class="schedule-id"></span>?</p>
						</div>
						<div class="modal-footer ">
							<button type="submit" class="btn btn-warning btn-lg" style="width: 100%;">
								<i class="fa fa-check-square" aria-hidden="true"></i> Proceed
							</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			</form>
		
		</div>  <!-- /.container-fluid -->
	</div> <!-- /.page-wrapper -->
</div>
<!-- /#page-wrapper -->
</@layout.myLayout>

<script type="text/javascript">
</script>

