<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Driver View">
<link href="/assets/css/vendor/pikaday.css" rel="stylesheet">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/driver">Driver</a></li>
				</ul>
				<h1>Driver Detail</h1>
				<form id="driverForm" role="form" action="/admin/driver" method="post" class="form-horizontal">
					<input type="hidden" id="driver_id" name="driver_id" value="${driver.id!'99999999'}">
					<div class="form-group">
						<label for="driveremail" class="control-label col-xs-3">Driver Email</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="driveremail" name="driveremail" placeholder="Input Driver Email" value="<#if driver.member?has_content>${driver.member.username!''}</#if>" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="drivername" class="control-label col-xs-3">Driver Name</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="drivername" name="drivername" placeholder="Input Driver Name" value="${driver.name!''}">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="driverphone" class="control-label col-xs-3">Mobile Phone No.</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="driverphone" name="driverphone" placeholder="Input Driver Driver Phone Number" value="${driver.phoneNo!''}" pattern="^(?=.*[0-9])[- +()0-9]+">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="devicekey" class="control-label col-xs-3">Device Unique Key</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="devicekey" name="devicekey" value="${driver.deviceKey!''}" placeholder="Input Device Unique Key">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="ktpno" class="control-label col-xs-3">KTP No.</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="ktpno" name="ktpno" value="${driver.ktpNo!''}" placeholder="Please input ID Number">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label for="simno" class="control-label col-xs-3">SIM No.</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="simno" name="simno" value="${driver.simNo!''}" placeholder="Please input Driver License Number">
							<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="defaultvan">Select default car/van :</label>
						<div class="col-xs-9">
							<select class="form-control" id="defaultvan" name="defaultvan">
								<option value="0">--Default Van--</option>
								<#if dropdown["zebvan"]??>  
									<#list dropdown["zebvan"]?keys as groupKey>
										<option value='${(groupKey!"")}' <#if driver.defaultvan.id?contains(groupKey)> selected</#if>>
											${dropdown["zebvan"][groupKey]}</option>
									</#list>
								</#if>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="pull-right">
							<a href="#" class="btn btn-link btn-lg" data-toggle="modal" data-target="#newVehicle">Add new vehicle +</a>
						</div>
					</div>
					<h4>Pick Your Schedule : </h4>
					<hr/>
					<div class="row">
					<#if dailyScheduleList?? && (dailyScheduleList?size > 0)>
						<#list dailyScheduleList as entity>
							<#if entity??>
							<div class="clearfix"></div>
							<div class="col-xs-offset-1 col-xs-3 text-center calendar-panel">
								<div class="panel panel-primary">
								  <div class="panel-heading panel-heading-sm">
								    <h3 class="panel-title">${entity.scheduledate?string('EEE')}</h3>
								  </div>
								  <div class="panel-body panel-body-sm">
								    <h4>${entity.scheduledate?string('dd')}</h4>
								    <p>${entity.scheduledate?string('MMM')}</p>
								  </div>
								</div>
							</div>
							<div class="col-xs-4">
								<select class="form-control" name="tripid">
									<option value='0'>--Select Morning Route--</option>
									<#list entity.routeType["A"]?keys as groupKey>
											<option value='${(groupKey!" ")}'>${entity.routeType["A"][groupKey]}</option>
									</#list>
								</select>
							</div>
							<div class="col-xs-4">
								<select class="form-control" name="tripid">
									<option value='0'>--Select Evening Route--</option>
									<#list entity.routeType["B"]?keys as groupKey>
											<option value='${(groupKey!" ")}'>${entity.routeType["B"][groupKey]}</option>
									</#list>
								</select>
							</div>
							</#if>
						</#list>
					</#if>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-6">
							<button id="save" class="btn btn-info btn-sm btn-block" data-title="save">
								<span class="fa fa-floppy-o"></span> Save </button>
						</div>
					</div>
					<input type="hidden" name="driverid" value='${driver.id!"99999999"}'>
				</form>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<div id="newVehicle" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add New Vehicle</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
			<form id="vehicleForm" name="vehicleForm" enctype="multipart/form-data" role="form" action="/admin/vehicle" method="post" class="form-horizontal">
				<input type="hidden" id="driver_id" name="driver_id" value="${driver.id!'99999999'}">
				<div class="form-group">
					<label for="plateNo" class="control-label col-xs-offset-1 col-xs-3">Plate No.</label>
					<div class="col-xs-7">
						<input type="text" class="form-control input-sm" id="plateNo" name="plateNo" placeholder="Please input Plate Number">
					</div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="code" class="control-label col-xs-offset-1 col-xs-3">Code</label>
					<div class="col-xs-7">
						<input type="text" class="form-control input-sm" id="code" name="code" placeholder="Please input Code">
					</div>
				</div><!-- /.form-group -->
				
				<div class="form-group">
					<div class="col-xs-offset-1 col-xs-5">
						<select class="form-control input-sm" id="make" name="make">
							<option value="0">-- Make --</option>
						</select>
					</div>
					<div class="col-xs-5">
						<select class="form-control input-sm" id="model" name="model">
							<option value="0">-- Model --</option>
						</select>
					</div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<div class="col-xs-offset-1 col-xs-5">
						<select class="form-control input-sm" id="color" name="color">
							<option value="0">-- Color --</option>
							<option value="Black">Black</option>
							<option value="White">White</option>
							<option value="Gray">Gray</option>
							<option value="Blue">Blue</option>
						</select>
					</div>
					<div class="col-xs-5">
						<select class="form-control input-sm" id="year" name="year">
							<option value="0">-- Year --</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
						</select>
					</div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="seatAvailable" class="control-label col-xs-offset-1 col-xs-3">Seat Available</label>
					<div class="col-xs-7">
						<select class="form-control input-sm" id="seatAvailable" name="seatAvailable">
							<option value="0">-- Seat --</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="stnkexp" class="control-label col-xs-offset-1 col-xs-3">STNK Expired</label>
			        <div class="controls col-xs-7">
	        		    <div class="input-group">
	                		<input id="stnkexp" name="stnkexp" type="text" class="date-picker form-control input-sm" />
	                		<label for="stnkexp" class="input-group-addon btn input-sm">
	                			<span class="fa fa-calendar"></span></label>
	            		</div>
			        </div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="kirexp" class="control-label col-xs-offset-1 col-xs-3">KIR Expired</label>
			        <div class="controls col-xs-7">
						<div class="controls">
		        		    <div class="input-group">
		                		<input id="kirexp" name="kirexp" type="text" class="date-picker form-control input-sm" />
		                		<label for="kirexp" class="input-group-addon btn input-sm">
		                			<span class="fa fa-calendar"></span></label>
		            		</div>
				        </div>
			        </div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="description" class="control-label col-xs-offset-1 col-xs-3">Description</label>
					<div class="col-xs-7">
						<textarea rows="2" name="description" class="form-control input-sm" placeholder="Description"></textarea>
					</div>
				</div><!-- /.form-group -->
				<div class="form-group">
					<label for="image" class="control-label col-xs-offset-1 col-xs-3">Image</label>
					<div class="col-xs-7 control-group file-upload" id="file-upload1">
						<div class="image-box">
							<a href="#" class="btn btn-info"><i class="fa fa-car fa-3x" aria-hidden="true"></i></a>
							<img src="" alt="" class="img-responsive">
						</div>
						<div class="controls"><input type="file" name="vehicle_img"/></div>
					
						
					</div>
				</div><!-- /.form-group -->
          </form>
		</div><!-- /.row -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="saveVehicle" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</@layout.adminLayout>

<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/pikaday.js"></script>

<script type="text/javascript">
$(function() {
	var picker = new Pikaday({
		field: document.getElementById('stnkexp'),
		position: 'bottom right',
		format: 'DD-MM-YYYY',
        minDate: new Date(),
        maxDate: new Date(2020,12,31),
        yearRange: [2016,2020],
        firstDay: 1
	}); // endPikaday

	var picker = new Pikaday({
		field: document.getElementById('kirexp'),
		position: 'bottom right',
		format: 'DD-MM-YYYY',
        maxDate: new Date(2020,12,31),
        yearRange: [2016,2020],
        firstDay: 1
	}); // endPikaday
    
	$('#save').click(function() {
		event.preventDefault();
		$.ajax({
  		    url: '/admin/driver',
  		    type: 'POST',
  		    data: $('#driverForm').serialize(),
  		    cache: false,
	            success: function(data) {
	                // Enable button & show success message
	                $("#driverForm").attr("disabled", false);
	                popupGrowl("success",data);

	                //clear all fields
	                $('.okvalid').hide();
	                $('#driverForm').trigger("reset");
	            },
	            error: function() {
	                // Fail message
	                popupGrowl("danger", "Sorry, please try again later. Thanks");
	                
	                //clear all fields
	                $('#driverForm').trigger("reset");
	            },
          });
	}); //end saveDriver
	
	$("select[name='tripid']").change(function() {
		if ($('#defaultvan').val() == "0") {
			popupGrowl("warning","Please select default van");
			$(this).val("0");
			$('#defaultvan').focus();
		}
		return false;
	});
	
	$("#defaultvan").change(function() {
		if ($(this).val() == "0") {
			$("select[name='tripid']").val("0");
		}
	});
	
	$('#driverForm').validate({
	    rules: {
	    	drivername: {
	    		required: true,
				maxlength: 100,
				minlength: 4
	    	},
	    	driveremail: {
				required: true,
				email: true,
				maxlength: 100
	    	},
	    	driverphone: {
	    		required: true,
				maxlength: 50,
				minlength: 7
	    	},
	    	devicekey: {
	    		required: true,
				maxlength: 50,
				minlength: 7
	    	},
	    	ktpno: {
	    		required: true,
				maxlength: 50,
				minlength: 7
			},
	    	simno: {
	    		required: true,
				maxlength: 50,
				minlength: 7
	    	},
	    },
	    highlight: function(element) {
			$(element).siblings('.okvalid').eq(0).hide();
			$(element).closest('.control-group').addClass('error');
		},
		success: function(element) {
			$(element).siblings('.okvalid').eq(0).show();
			$(element).closest('.control-group').removeClass('error');
		}
	  }); //end driverForm
	  
	  $("#saveVehicle").click(function(){
    	  $("#saveVehicle").attr("disabled", true);

		  event.preventDefault();
    	  var formData = new FormData($('#vehicleForm')[0]);
    	  $.ajax({
    		    url: '/admin/vehicle',
    		    type: 'POST',
    		    data: formData,
    		    cache: false,
    		    contentType: false,
    		    processData: false,
	            success: function(data) {
	                // Enable button & show success message
	                $("#saveVehicle").attr("disabled", false);
	                popupGrowl("success",data);

	                //clear all fields
	                $('.okvalid').hide();
	                $('#vehicleForm').trigger("reset");
	                $('#newVehicle').modal("hide");
	                updateVehicles($('#driver_id').val());
	                
	            },
	            error: function() {
	                // Fail message
	                popupGrowl("danger", "Sorry, please try again later. Thanks");
	                
	                //clear all fields
	                $('#vehicleForm').trigger("reset");
	                $('#newVehicle').modal("hide");
	            },
            });
	  	}); //end saveVehicle click

		$('#vehicleForm').validate({
		    rules: {
		    	plateNo: {
		    		required: true,
					maxlength: 10,
					minlength: 4
		    	}, 
		    	code: {
		    		required: true,
					maxlength: 10,
					minlength: 4
		    	}
		    },
		    highlight: function(element) {
				$(element).siblings('.okvalid').eq(0).hide();
				$(element).closest('.control-group').addClass('error');
			},
			success: function(element) {
				$(element).siblings('.okvalid').eq(0).show();
				$(element).closest('.control-group').removeClass('error');
			}
		  }); //end driverForm
		  
	// set focus when modal is opened
	//"id":1,"code":"CARMAKE01","name":"Honda","description":"Honda","lookupGroupCode":"CARMAKE"}
	$('#newVehicle').on('shown.bs.modal', function () {
        $('#vehicleForm').trigger("reset");
		$.getJSON('/getlookup?grpCode=CARMAKE', function(data) {
			$("#make").empty();
			$("#make").append($('<option>').text("-- Make --").attr('value', 0));
			$.each(data.lookup, function(i, lookup){
				$("#make").append($('<option>').text(lookup.name).attr('value', lookup.code));
            });
         });
	});// end #newVehicle.show

	$("#make").change(function() {
		var valMake = $(this).val();
		$.getJSON('/getlookup?grpCode='+valMake, function(data) {
			$("#model").empty();
			$("#model").append($('<option>').text("-- Model --").attr('value', 0));
			$.each(data.lookup, function(i, lookup){
				$("#model").append($('<option>').text(lookup.name).attr('value', lookup.code));
            });
         });
	}); //end carmake.change


	function updateVehicles(id) {
		$.getJSON('/getvehicle/'+id, function(data) {
			$("#defaultvan").empty();
			$("#defaultvan").append($('<option>').text("--Default Van--").attr('value', 0));
			$.each(data.zebvan, function(i, zebvan){
				$("#defaultvan").append($('<option>').text(zebvan.plateNo + '-' + zebvan.code).attr('value', zebvan.id));
            });
         });
	}
	
	$('.file-upload').hide();
	$('#file-upload1').show();

	$('.image-box').click(function(event) {
	  var imgg = $(this).children('img');
	  $(this).siblings().children("input").trigger('click');  

	  $(this).siblings().children("input").change(function() {
	    var reader = new FileReader();

	    reader.onload = function (e) {
	      var urll = e.target.result;
	      $(imgg).attr('src', urll);
	      imgg.parent().css('background','transparent');
				imgg.show();
	      imgg.siblings('a').hide();
				
	    }
	    reader.readAsDataURL(this.files[0]);
	  }); //end children change
	}); //end click image-box
	
}); //end function ready
</script>

