<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout "Admin - Driver List">

<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row page-header">
			<div class="col-lg-12">
				<ul class="breadcrumb visible-xs">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/driver">Zebvan</a></li>
				</ul>
				<h1>Driver List</h1>
				<div class="table-responsive">
					<table id="mytable" class="table table-bordred table-striped">
						<thead>
							<th>Id</th>
							<th>Driver Name</th>
							<th>Zebvan</th>
							<th>KTP No</th>
							<th>Sim No</th>
							<th>Action</th>
						</thead>
						<tbody>
							<#if entityList?? && (entityList?size > 0)>
								<#list entityList as entity>
									<tr>
										<td><#noescape>${(entity.id! ' ')}</#noescape></td>
										<td><#noescape>${(entity.name!' ')}</#noescape></td>
										<td><#noescape>${(entity.id! ' ')}</#noescape></td>
										<td><#noescape>${(entity.name!' ')}</#noescape></td>
										<td><#noescape>${(entity.id! ' ')}</#noescape></td>
										<td><button class="btn btn-xs btn-primary" onclick="view(${entity.id})">
											<i class="fa fa-pencil"></i> Edit</button></td>
									</tr>
								</#list>
							<#else>
								<tr><td colspan="6" align="center">List is empty</td></tr>
							</#if>
						</tbody>

					</table>
				</div><!-- / .table-responsive -->
				<button  class="btn btn-info btn-sm" data-title="Add" onclick="view(99999999);">
					<span class="fa fa-plus"></span> Add
				</button>
			</div><!-- /.col-lg-12 -->
		</div><!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
function view(id){
	window.location ='/admin/driver/'+id;
}
</script>

</@layout.adminLayout>
