<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan.co Forget Password">

<div class="container">

	<br />

	<div class="row">
		<div class="entry col-md-4 col-md-offset-4">
		<p>Silakan masukkan email anda. Keterangan tentang reset password akan dikirim melalui email address anda yang telah terdaftar di sistem kami. </p>

			<form name="resetForm" id="resetForm" action="/forget" method="post" class="form-horizontal" role="form">

				<div class="form-group login">
					<!--EMAIL ADDRESS-->
					<input id="username" placeholder='${i18n("signup.email")}' class="form-control"
					type="text" name="username">
                </div>

				<div class="form-group login">
					<!--BUTTON-->
					<button type="submit" class="btn btn-primary pull-right">${i18n("forget.send.link")}</button>
                </div>
			</form>
		</div>
	</div>
</div>
</@layout.myLayout>

<script type="text/javascript">
$(document).ready(function(){

	$('#resetForm').validate({
	errorClass: 'signuperror',
    rules: {
		username: {
			required: true,
			email: true,
			minlength: 8
		},
    },
	highlight: function(element) {
		$(element).closest('.control-group').removeClass('signupsuccess').addClass('signuperror');
	},
	success: function(element) {
		element
		.closest('.control-group').removeClass('signuperror').addClass('signupsuccess');
	}
  });

</script>
	