<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">

<div class="container-fluid" style="padding:0%;">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-center" style="padding:0%;">
		<img class="panjang wow fadeIn" src="/assets/img/bg/editan2-2.jpg" style="width:100%;">
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="padding:0%;padding-top:10%;padding-left:50px;padding-right:2%">
		<h1 class="superjumbo wow fadeIn"> Sign In</h1>
		<div class="row" style="padding:8%;padding-top:4%;padding-left:4%;padding-right:4%;width:100%;">
			<form action="/login" method="post" id="formLogin" name="formLogin">
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
					<input id="username" type="text" class="form-control" name="username" placeholder="Username or E-mail">
				</div>
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-lock fa-lg"></i>
					</span>
					<input id="password" type="password" class="form-control" name="password" placeholder="Password">
				</div>
				
				<div class="row text-right" style="padding:0%;width:100%;padding-top:1%;">
					<button class="btntransparan" type="button" data-toggle="modal" data-target="#forgotpass"><h5 class="biru"> Forgot Password?</h5></button>
				</div>
				
				<div class="row" style="padding:4%;padding-top:4%;">
					<button class="btn-hitam2 text-center bayangan2" id="login" style="width: 100%;height: 40px;"> Sign In </button>
				</div>
				
				<div class="row text-center" style="padding:4%;padding-top:3%;">
					<h5 class="regular"> Sign In With Social Media</h5>
				</div>
				
				<div class="row text-center padall2">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<button class="btntransparan" id="entry-facebook" name="facebook">
						<div class="bulat fb wow flipInY" style="padding: 15px;">
							<i class="fa fa-facebook putih fa-lg" aria-hidden="true"></i>
						</div>
						</button>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<button class="btntransparan" id="entry-google" name="google">
						<div class="bulat gugel wow flipInY" style="padding: 15px;">
							<i class="fa fa-google-plus putih fa-lg" aria-hidden="true"></i>
						</div>
						</button>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<button class="btntransparan" id="entry-twitter" name="twitter">
						<div class="bulat twitter wow flipInY" style="padding: 15px;">
							<i class="fa fa-twitter putih fa-lg" aria-hidden="true"></i>
						</div>
						</button>
					</div>
				</div>
				
				<div class="row text-center" style="padding:4%;padding-top:3%;">
					<h5 class="regular"> Don't Have an Account? <a href="/sign-up"><span class="medium biru">Register Now </span></h5></a>
				</div>
				
			</form>	
		</div>
	</div>
</div>

<div id="forgotpass" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:100px">

    <!-- Modal content-->
    <div class="modal-content">
    	<form name="resetForm" id="resetForm" action="/forget" method="post" role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recovery Password</h4>
      </div>
      <div class="modal-body">
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<h5 class="kecil1 regular">E-mail </h5>
			</div>
			<div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
				<input  id="username" type="text" class="form-control" name="username" placeholder="Your e-mail">
			</div>
		</div>
      </div>
      <div class="modal-footer">
		 <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius:0px">Close</button>
		 <button class="btn-hitam2" style="width: 130px;height: 35px;" data-dismiss="modal" id="ini"> Submit </button>
       
      </div>
      </form>
    </div>

  </div>
</div>

<div id="done" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:100px">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">E-mail Reset Password Telah Dikirim</h4>
      </div>
      <div class="modal-body">
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right:0%;">
				<h5 class="regular">Silakan periksa e-mail Anda lebih lanjut, kami telah mengirimkan link untuk mengubah password Anda</h5>
			</div>
		</div>
      </div>
      <div class="modal-footer">
		 <button class="btn-hitam2" style="width: 130px;height: 35px;" data-dismiss="modal"> Tutup </button>
      </div>
    </div>

  </div>
</div>

</@layout.myLayout>
	
<link rel="stylesheet" href="/assets/webjars/wowjs/1.1.2/css/libs/animate.css">
<script src="/assets/webjars/wowjs/1.1.2/dist/wow.min.js"></script>

<script src="/assets/js/auth0-6.7.min.js"></script>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/login.js"></script>

	