<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    

<div class="container-fluid" style="padding:0%;">
	<div class="col-xs-12 text-center" style="padding:0%;">
		You are now logged out. <a href="/">Back to main page</a>
	</div>
</div>

</@layout.myLayout>