<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan.co Reset Password Success">

<div class="container">

	<br />

	<div class="row">
		<div class="entry col-md-4 col-md-offset-4">
		<h2><i class="fa fa-check-circle" aria-hidden="true"></i> Reset Password berhasil. Silakan Login kembali.</h2>
                <div class="col-xs-offset-3 col-xs-offset-6">
					<a class="btn btn-primary" href="/login">Login</a>
				</div>
		</div>
	</div>
</div>
</@layout.myLayout>