<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Zebravan.co Reset Password Form">

<div class="container">

	<br />

	<div class="row">
		<div class="entry col-md-4 col-md-offset-4">
		<p>Silakan masukkan password anda yang baru</p>

			<form name="resetForm" id="resetForm" action="/reset-password" method="post" class="form-horizontal" role="form">
			<input id="id" type="hidden" value='${(id)!""}' name="id">
			

                <div class="form-group login">
					<!--PASSWORD-->
					<input id="password" placeholder='${i18n("login.password")}' class="form-control floating-label" type="password" value='${(flash.password)!""}' name="password">
					<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                </div>
			
				<div class="form-group login">
					<!--REPASSWORD-->
					<input id="repassword" placeholder='${i18n("signup.repassword")}' class="form-control floating-label" type="password" value='${(flash.Repassword)!""}' name="repassword">
					<span class="okvalid" style="display:none;"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                </div>

				<div class="form-group login">
					<!--BUTTON-->
					<button type="submit" class="btn btn-primary pull-right">${i18n("reset.password")}</button>
                </div>
			</form>
		</div>
	</div>
</div>
</@layout.myLayout>

<script type="text/javascript">
$(document).ready(function(){

	$('#resetForm').validate({
	errorClass: 'signuperror',
    rules: {
    	password: {
			required: true,
			minlength: 6
		},
		repassword: {
			required: true,
			minlength: 6,
			equalTo: "#password"
		},
    },
	highlight: function(element) {
		$(element).closest('.control-group').removeClass('signupsuccess').addClass('signuperror');
	},
	success: function(element) {
		element
		.closest('.control-group').removeClass('signuperror').addClass('signupsuccess');
	}
  });

</script>
	