<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">


<div class="container-fluid" style="padding:0%;">
	<div class="col-xs-12 text-center" style="padding:0%;">
		<p>Pendaftaran Keanggotaan Anda telah berhasil. Silahkan cek email anda untuk melakukan verifikasi akun.
  		Terima kasih</p>
	</div>
</div>



</@layout.myLayout>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/signUp.js"></script>
	