<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Zebravan.co Main Homepage">

<div class="container-fluid" style="padding:0%;">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-center" style="padding:0%;">
		<img class="panjang wow fadeIn" src="/assets/img/bg/editan1-2.jpg" style="width:100%;">
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="padding:0%;padding-top:10%;padding-left: 50px;padding-right:2%">
		<h1 class="superjumbo wow fadeIn"> Sign Up</h1>
		<div class="row" style="padding:8%;padding-top:4%;padding-left:4%;padding-right:4%;width:100%;">
			<form action="/sign-up" method="post" role="form" id="loginForm">
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-user"></i>
					</span>
					<input id="fullname" type="text" class="form-control" name="fullname" placeholder="Full Name or Username">
				</div>
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-phone"></i>
					</span>
					<span class="input-group-addon">+62</span>
					<input id="phoneno" type="text" class="form-control" name="phoneno" placeholder="Phone Number">
				</div>
				
				<div class="input-prepend" style="padding:0%;border:none;margin-bottom:3%;">
					<i class="fa fa-neuter aturpad fa-lg" style="border:none"></i>
					<label class="radio-inline"><input type="radio" name="gender" id="gender-man">Man</label>
					<label class="radio-inline"><input type="radio" name="gender" id="gender-woman">Woman</label>
				</div>
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-envelope"></i>
					</span>
					<input id="username" type="text" class="form-control" name="username" placeholder="E-mail">
				</div>
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-lock fa-lg"></i>
					</span>
					<input id="password" type="password" class="form-control" name="password" placeholder="Password">
				</div>
				
				<div class="input-group" style="margin-bottom:3%;">
					<span class="input-group-addon">
						<i class="fa fa-lock fa-lg"></i>
					</span>
					<input id="repassword" type="password" class="form-control" name="password1" placeholder=" Retype Password">
				</div>
				
				<div class="row" style="padding:4%;padding-top:4%;">
					<button id="signup" name="signup" class="btn-hitam2 text-center bayangan2" style="width: 100%;height: 40px;" 
					type="submit"> Sign Up </button>
				</div>
				
				
				<div class="row text-center" style="padding:4%;padding-top:1%;">
					<h5 class="regular"> Have an Account? <a href="/login"><span class="medium biru">Sign In </span></h5></a>
				</div>
				
			</form>	
		</div>
	</div>
</div>



<div id="signupdone" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:100px">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Akun Berhasil Dibuat!</h4>
      </div>
      <div class="modal-body">
		<div class="row" style="width:100%;padding-top:5px;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
				<h5 class="kecil1 regular">Silakan verifikasi akun Anda melalui link yang kami kirim ke e-mail Anda</h5>
			</div>
		</div>
      </div>
      <div class="modal-footer">
		 <button class="btn-hitam2" style="width: 130px;height: 35px;" data-dismiss="modal"> Tutup </button>
      </div>
    </div>

  </div>
</div>
</@layout.myLayout>
<script src="/assets/js/auth0-6.7.min.js"></script>
<script src="/assets/js/jquery.fblogin.min.js"></script>
<script src="/assets/js/signUp.js"></script>
	